[2012-11-10 18:09] rickyah opened #1 "Parsing Error Section Name ".ShellClassInfo""
_Original author: Philip.S...@gmail.com (October 05, 2008 13:59:13)_

This Code creates a ParsingError
IniParser.FileIniDataParser parser = new IniParser.FileIniDataParser();
parser.LoadFile(file.FullName);
with a ini like this:

[.ShellClassInfo]
IconFile=icon.ico
IconIndex=0
IconResource=icon.ico,0

It would be great if this could be fixed

_Original issue: http://code.google.com/p/ini-parser/is

[2012-11-10 18:09] #1 closed, assigned to nobody

[2012-11-10 18:09] rickyah opened #2 "Error parsing INI values from a key"
_Original author: rickyAH (October 10, 2008 08:33:02)_

This INI generates a ParsingException when reading the 'key' value

[ExampleSection]
key = value;value

_Original issue: http://code.google.com/p/ini-parser/issues/detail?id=2_

[2012-11-10 18:09] #2 closed, assigned to nobody

[2012-11-10 18:09] rickyah opened #3 "A key with dots is not parsed"
_Original author: rickyAH (October 31, 2008 20:24:11)_

pigrew :

I think that this is related to a bug that I just ran into:

key.contains.periods = value

It fails because the keys and values can only contain alphanumeric
character (plus _).

_Original issue: http://code.google.com/p/ini-parser/issues/detail?id=3_

[2012-11-10 18:09] #3 closed, assigned to nobody

[2012-11-10 18:09] rickyah opened #4 "Allow load INI files with error sections"
_Original author: rickyAH (September 21, 2009 09:31:41)_

It would be desireable to allow loading partially invalid INI files:

Ini files with duplicated sections
Sections with duplicated keys

The files could be loaded just discarding the repeated elements

_Original issue: http://code.google.com/p/ini-parser/issues/detail?id=4_

[2012-11-10 18:09] #4 closed, assigned to nobody

[2012-11-10 18:09] rickyah opened #5 "Comments not stored in keys"
_Original author: h.erikss...@gtempaccount.com (November 03, 2009 15:32:57)_

Using the following code to add a new key with comments:

KeyData key = new KeyData(&quot;TestKey&quot;);
key.Value = &quot;TestValue&quot;;
key.Comments.Add(&quot;This is a comment&quot;);
inidata[&quot;TestSection&quot;].SetKeyData(key);

Looking through the inidata-structures show that the key exists and the
value is

[2012-11-10 18:20] #5 closed, assigned to nobody

[2012-11-10 18:20] rickyah opened #6 "String values for a key are stored with the termination string if present."
_Original author: rickyAH (November 18, 2009 19:16:36)_

Given an IniFile:

[aSection]
aKey = aValue;

The string  value for key 'aKey' is stored as 'aValue;' including the ';'
character, instead of 'aValue'

_Original issue: http://code.google.com/p/ini-parser/issues/detail?id=6_

[2012-11-10 18:21] #6 closed, assigned to rickyah

[2012-11-10 18:21] rickyah opened #7 "Wrong working .AddKey(a, b)"
_Original author: aion.cat (July 20, 2010 13:38:19)_

Greetings. During the tests found that the method .AddKey(name,value) works by adding sections are not as described in the wiki. For example, using the syntax

newData.Sections.AddSection(&quot;newSection&quot;);
newData[&quot;newSection&quot;].AddKey(&quot;newKey1&quot;, &quot;value1&quot;);

I got only

[newSection]
value1 =

Desired result h

[2012-11-10 18:21] #7 closed, assigned to rickyah

[2012-11-10 18:21] rickyah opened #8 "Please apply the relaxed format to VSS ss.ini files ?"
_Original author: smurf...@gmail.com (September 07, 2010 12:52:35)_

<b>What steps will reproduce the problem?</b>
1. Use an user named ss.ini file
<b>2.</b>
<b>3.</b>

What is the expected output?
For the relaxed override to allow the code to load the sections

What do you see instead?
An exception stating that the first line that it isn't a comment throwing an ParsingException

What version of t

[2012-11-10 18:21] #8 closed, assigned to nobody

[2012-11-10 18:21] rickyah opened #9 "Allow ODBC connection strings to be parsed from INI files."
_Original author: whitel...@gmail.com (December 27, 2010 18:00:34)_

<b>What steps will reproduce the problem?</b>
1. Add a connection string to an INI file and attempt to parse; Example:
    connectionString = Server=sqlserver.domain.com;Database=main;User ID=user;Password=password

What is the expected output?
iniData[&quot;connectionString&quot;] should yield the string &quot;Server=sqlserver.d

[2012-11-10 18:21] #9 closed, assigned to nobody

[2012-11-10 18:21] rickyah opened #10 "Some characters are not supported when reading section names"
_Original author: elpa...@hotmail.com (May 10, 2011 07:41:49)_

<b>What steps will reproduce the problem?</b>
1. Create section &quot;http://example.com/page&quot;
2. Try to read it
3. Exception raised

<b>What is the expected output? What do you see instead?</b>

Reading the value should read

<b>What version of the product are you using? On what operating system?</b>

Latest trunk, Windows 7, Vi

[2012-11-10 18:21] #10 closed, assigned to nobody

[2012-11-10 18:21] rickyah opened #11 "Arabic RTL value spoil keys"
_Original author: tbrandi...@gmail.com (June 28, 2011 10:44:48)_

<b>What steps will reproduce the problem?</b>
1. IRFANVIEW.EXE .ini file (i_view32.ini),sect [BatchText] key &quot;AddText&quot;
2. changed value to بنتي والذئاب
3. following key spoiled, &quot;TextCoord&quot; had a value of &quot;100;1;300;51;&quot; it turn to &quot;100&quot; and the missing part of the string is moved upward in be

[2012-11-10 18:21] #11 closed, assigned to nobody

[2012-11-10 18:21] rickyah opened #12 "Patch for /branches/serialization/src/IniFileParser/FileIniParser.cs"
_Original author: Vladisla...@gmail.com (July 14, 2011 10:09:26)_

Sometimes it throws cannt parse the section, because of there is a problem with encoding.

_Original issue: http://code.google.com/p/ini-parser/issues/detail?id=12_

[2012-11-10 18:21] #12 closed, assigned to nobody

[2012-11-10 18:21] rickyah opened #13 "Unreachable code in StreamIniDataParser.cs"
_Original author: arisn...@arisnova.com (July 21, 2011 23:58:39)_

The MatchKeyValuePair() looks like this:

[code]

Before 1.7, the second return statement was used. Since 1.7, a simpler check is used (the first return). In any case, one or the other should be removed.

_Original issue: http://code.google.com/p/ini-parser/issues/detail?id=13_

[2012-11-10 18:21] #13 closed, assigned to nobody

[2012-11-10 18:21] rickyah opened #14 "Doesn't work with ini-files without sections"
_Original author: dis.shis...@gmail.com (September 05, 2011 05:44:40)_

Try to ready the next data, for example:
key1=value1
key2=value2
key3=value3

_Original issue: http://code.google.com/p/ini-parser/issues/detail?id=14_

[2012-11-10 18:21] #14 closed, assigned to nobody

[2012-11-10 18:21] rickyah opened #15 "sections with same name"
_Original author: lorypa...@gmail.com (September 25, 2011 12:54:31)_

<b>What steps will reproduce the problem?</b>
1. Open an ini files with section like [123_1][123_2] with the same name.
<b>2.</b>
<b>3.</b>

<b>What is the expected output? What do you see instead?</b>

The program just crash because can't handle 2 sections with the same name.

<b>What version of the product are you using? On wh

[2012-11-10 18:21] #15 closed, assigned to nobody

[2012-11-10 18:21] rickyah opened #16 "Compatiable with Chinese character"
_Original author: Skywalke...@gmail.com (December 07, 2011 08:10:26)_

<b>What steps will reproduce the problem?</b>
If the ini file includes sections or keys written with Chinese characters, it cannot parse the file.

<b>What is the expected output? What do you see instead?</b>
Add international support please.

<b>What version of the product are you using? On what operating system?</b>
ver 1.7,

[2012-11-10 18:21] #16 closed, assigned to nobody

[2012-11-10 18:21] rickyah opened #17 "Parsing ini-file with curly brackets in section name fails"
_Original author: charlesd...@gmail.com (December 16, 2011 12:57:27)_

<b>What steps will reproduce the problem?</b>
1. Take the provided INI-File
2. Try the first steps from the Usage-Section in the wiki

<b>What is the expected output? What do you see instead?</b>
Expected output is the content of the ini-file, instead this happens :

[code]

<b>What version of the product are you using? On what

[2012-11-10 18:21] #17 closed, assigned to nobody

[2012-11-10 18:21] rickyah opened #18 "Problems mit special caracters: äöüéà..."
_Original author: jcson...@gmail.com (December 27, 2011 14:14:22)_

<b>What steps will reproduce the problem?</b>
1. Create an ini file from the sample below.
2. Read the file with your library

<b>What is the expected output? What do you see instead?</b>
If I have an ini file showing an ä in the editor I expect to read än ä with the library too.
eg. &quot;Identität&quot; changes to &quot;Identit�

[2012-11-10 18:21] #18 closed, assigned to nobody

[2012-11-10 18:21] rickyah opened #19 "Spaces in sections"
_Original author: nzmer...@gmail.com (February 03, 2012 07:00:27)_

<b>What steps will reproduce the problem?</b>
1. Use a section name called Web Collaboration
<b>2.</b>
<b>3.</b>

<b>What is the expected output? What do you see instead?</b>
The restriction stated is that
&quot;Sections are declared as a unique word enclosed in square brackets. Spaces enclosed into the square bracktes are ignored

[2012-11-10 18:22] #19 closed, assigned to nobody

[2012-11-10 18:22] rickyah opened #20 "Having section names with white-space causes parsing error"
_Original author: achan...@gmail.com (February 20, 2012 17:14:14)_

<b>What steps will reproduce the problem?</b>
1. Load an INI file with white-space in a section name.

<b>What is the expected output? What do you see instead?</b>
I expect that the parser can handle white-space in sections since they are fully escaped.

<b>What version of the product are you using? On what operating system?</b>
L

[2012-11-10 18:22] #20 closed, assigned to nobody

[2012-11-10 18:22] rickyah opened #21 "Case insensitive Section and Key names"
_Original author: ileng...@gmail.com (February 23, 2012 09:34:12)_

<b>What steps will reproduce the problem?</b>
1. Load an Ini file with [section1]\nkey1 = val1
2. Read the parameter with iniData[&quot;SECTION1&quot;][&quot;KEY1&quot;]
3. Null exception is raised as SECTION1 is not found.

<b>What is the expected output? What do you see instead?</b>
val1 read as it would have been done if iniDat

[2012-11-10 18:22] #21 closed, assigned to nobody

[2012-11-10 18:22] rickyah opened #22 "Multiple comment character types in the one config"
_Original author: ileng...@gmail.com (February 23, 2012 09:37:16)_

<b>What steps will reproduce the problem?</b>
1. Unable to specify more than one comment character to load an ini file. Eg. both '#', and '!'

<b>What is the expected output? What do you see instead?</b>
Ability to specify more than 1 comment character.

<b>What version of the product are you using? On what operating system?</b>
1

[2012-11-10 18:22] rickyah opened #23 "[__global__section__] is written for a file marked with RelaxedIniFormat"
_Original author: ileng...@gmail.com (February 23, 2012 09:43:22)_

<b>What steps will reproduce the problem?</b>
1. Load Ini file with the RelaxedIniFormat set to true.
2. Call WriteData(..)
3. Observe written data.

<b>What is the expected output? What do you see instead?</b>
The same ini configuration written as it was read

<b>What version of the product are you using? On what operating system

[2012-11-10 18:22] #23 closed, assigned to nobody

[2012-11-10 18:22] rickyah opened #24 "Let relaxed mode skip un parsable lines"
_Original author: ileng...@gmail.com (February 23, 2012 10:06:02)_

<b>What steps will reproduce the problem?</b>
1. Set the Relaxed ini format mode to true
2. Load ini data with 'win]' on a line. In this case the section is missing the '['
3. Loading throws ParsingException

<b>What is the expected output? What do you see instead?</b>
the line 'win]' is ignored and any parameters below are treate

[2012-11-10 18:22] #24 closed, assigned to nobody

[2012-11-10 18:22] rickyah opened #25 "With multi type comment characters, the comment character should be preserved."
_Original author: ileng...@gmail.com (February 23, 2012 13:04:28)_

<b>What steps will reproduce the problem?</b>
1. Read the following Ini config with CommentCharacters = &quot;#!;&quot;
# comment A

!comment B
[section1]
# comment A

;comment B
key1 = testvalue
2. Write the ini data

<b>What is the expected output? What do you see instead?</b>
Comment characters '!' and ';' should be preserved.,

[2012-11-10 18:22] #25 closed, assigned to rickyah

[2012-11-10 18:22] rickyah opened #26 "Duplicate key names not permitted in section, as required/used by Windows INF Files"
_Original author: bes...@gmail.com (February 27, 2012 00:41:10)_

<b>What steps will reproduce the problem?</b>
1. IniData parsedData = parser.LoadFile(&quot;some_inf_file.inf&quot;);

<b>What is the expected output? What do you see instead?</b>

Microsoft Windows driver installation .INF files often have duplicate key names in a section.  For example:

[Foo_Inst]
CopyFiles=Entry1CopyFiles
CopyFil

[2012-11-10 18:22] #26 closed, assigned to rickyah

[2012-11-10 18:22] rickyah opened #27 "Loading ini fails when backslashes are present in section"
_Original author: karaffka@gmail.com (March 16, 2012 23:19:00)_

<b>What steps will reproduce the problem?</b>
Loading a following ini file:

[Sessions\anonymous@ftp.scene.org]
HostName=ftp.scene.org
PortNumber=21
UserName=anonymous
FSProtocol=5

<b>What is the expected output? What do you see instead?</b>

[code]

<b>What version of the product are you using? On what operating system?</b>
1.7.1.0

[2012-11-10 18:22] #27 closed, assigned to rickyah

[2012-11-10 18:22] rickyah opened #28 "~ not supported in section names"
_Original author: pgqui...@elpauer.org (March 27, 2012 10:47:23)_

<b>What steps will reproduce the problem?</b>
1. Create a section with a ~ in the name
2. Try to load the .ini
3. Exception

<b>Please provide any additional information below.</b>

Fixing in http://www.assembla.com/spaces/ini-parser/tickets/1

_Original issue: http://code.google.com/p/ini-parser/issues/detail?id=28_

[2012-11-10 18:22] #28 closed, assigned to rickyah

[2012-11-10 18:22] rickyah opened #29 "Removing All Keys Without Removing Section"
_Original author: richard4...@gmail.com (September 28, 2012 13:27:06)_

One thing I can't see a way to do is to remove all keys in a section without removing the section itself.

I tried the following, using a foreach as recommended, but Visual Studio doesn't seem to like it.

[code]

It throws

[code]

Is there a way to do this already that I'm missing? If not, I'd like to throw this in as a feat

[2012-11-10 18:22] #29 closed, assigned to nobody

[2012-11-10 18:22] rickyah opened #30 "Values with comment delimiter are parsed as partial comments."
_Original author: nasi...@gmail.com (October 03, 2012 18:16:56)_

<b>What steps will reproduce the problem?</b>

Create a test INI file with the following content:

[section]
key=value1;value2

<b>What is the expected output? What do you see instead?</b>

Was expecting  data[&quot;section&quot;][&quot;key&quot;] to be &quot;value1;value2&quot;

instead &quot;;value2&quot; is parsed as a comment.

[2012-11-10 18:22] #30 closed, assigned to nobody

[2013-05-10 09:18] dajuric opened #31 "Value parsing"
How can I parse value that is written in the following way:
(I get only SET because the rest of the string is interpreted as a comment)

TurnMachine = "SET;H 500;1"

[2013-05-13 12:38] #31 closed, assigned to rickyah

[2013-11-29 03:02] kzgs opened #32 "Skip spaces around KeyValueAssignmentChar"
I need option that write an ini file like :

[code]

[2013-12-01 23:27] rickyah opened #33 "Document how to use the new custom configurations for the parser"

[2013-12-01 23:27] rickyah opened #34 "Document API changes in new version"

[2013-12-09 09:34] rickyah opened #39 "Separate writing an ini file from the IniData structure"
The IniData class does not need a `IIniParserConfiguration` reference. Separating the code that holds the INI data from the code that formats that ini data to a string will reduce the coupling.

[2013-12-11 06:30] #32 closed, assigned to rickyah

[2013-12-27 19:42] #33 closed, assigned to rickyah

[2014-01-14 07:33] #34 closed, assigned to rickyah

[2014-01-25 16:13] dragouf opened #40 "Nuget package just contain source files"
version 2.0 of nuget package won't add dll reference and download source files

[2014-02-05 22:05] #40 closed, assigned to rickyah

[2014-04-02 19:17] evilmav opened #42 "Shouldn't methods in IniFileParser be declared virtual?"
You talk explicitly about those methods being overridden in child class to implement more advanced algorithms, but non-virtual methods in C# can not be overridden.

[2014-04-03 16:37] davidmurdoch opened #43 "CommentChar doesn't allow for multi-character comment delimiters"
I've come across an INI with C++ style single-line comments, like this:

[code]

Yes it appears ini-parser doesn't have a simple way of dealing with this.

If `CommentChar` was `CommentString` (or even `CommentStrings`) this would be trivial. I imagine implementation would look something like:

[code]

[2014-04-05 09:11] #22 closed, assigned to rickyah

[2014-04-16 21:44] #43 closed, assigned to rickyah

[2014-04-16 22:30] #39 closed, assigned to nobody

[2014-04-17 07:13] rickyah opened #44 "Preserve the API compatibility to avoid the need of a major version number update"
In commit 726b46aaa1d7f09fcd4d13b3af2bf4b3bd7362f7 made some breaking changes with API that need to be fixed before releasing 2.0.4
- Keep the `IIniDataFormatter` interface and default implementation. That way an IniData file that was read with a configuration can be converted to an string with another configuration, allowing the user to  convert an ini file between formats.
- Put back the `IniDat

[2014-05-15 19:10] bretthysuik opened #45 "ini-parser v2.1.0 NuGet package is broken"
The NuGet package for ini-parser v2.1.0 is incorrect and nothing gets installed after installing this NuGet package.
- LICENSE should be in a 'content' folder
- README.md should be a plaintext file (since VS won't highlight GitHub markdown) and placed in the root directory
- INIFileParser.dll and .pdb should be in a 'lib' folder. And preferably in another folder that targets the .NET framework you

[2014-05-28 06:52] #45 closed, assigned to nobody

[2014-06-01 10:14] #44 closed, assigned to nobody

[2014-06-01 10:14] #42 closed, assigned to rickyah

[2014-06-01 13:35] rickyah opened #51 "2.1.2"

[2014-06-12 14:46] cyberbox2001 opened #52 "Parsing Error: Unknown file format. Couldn't parse the line: '[2Way-Keyword-*##13559710880]'."
while I  open a ini file with section name as  [Way-Keyword-_##9710880] will get this Exception Unknown file format. Couldn't parse the line: '[2Way-Keyword-_##13559710880]'.
how can i handle this error?

[2014-06-12 14:47] cyberbox2001 opened #53 "Parsing Error: Unknown file format. Couldn't parse the line: '[Way-Keyword-*##59710880]'."
while I  open a ini file with section name as  [Way-Keyword-_##9710880] will get this Exception Unknown file format. Couldn't parse the line: '[Way-Keyword-_##59710880]'.
how can i handle this error?

[2014-06-12 14:48] #52 closed, assigned to nobody

[2014-06-14 09:16] #53 closed, assigned to nobody

[2014-06-15 21:12] rickyah opened #56 "Automate NuGet package generation with Albacore"
Create a rakefile using albacore. The automation will allow to
- [ ] Bumping version numbers easily
- [ ] automatically generate a NuGet package
- [ ] pushing the package to the NuGet repository

[2014-07-09 06:51] rickyah opened #58 "Automate NuGet Package generation with albacore"
Try to build the NuGet package using albacore or other automated system, as it is usually time-consume and error prone.

Work Branch: https://github.com/rickyah/ini-parser/tree/feature/albacore_nuget_package_generation

Things to automate:

* [x] NuGet package generation
* [x] Versioning
* [x] Package publishing

[2014-07-30 17:09] JpEncausse opened #59 "Clear comments on merge"
Hi,

I'm merging 2 files with a common part. Comments are duplicated. I assume it's not easy to remove duplicate.

But how can I remove all comments of an InitData ?

[code]

This code seems to clear all comments of section but while writing Config to a file I still see comments :-/

According to source code I can't see where arrays are duplicated. Any Idea ?

[2014-08-02 18:31] rickyah opened #60 "Same line comments"
Right now comments in the same line like this:
`key1 = value ; this is an important configuration setting`
are **not** parsed as comment, but as part of the value (i.e. the value for key `key1` is `value ; this is an important configuration setting`)

The library also need some way to preserve those kind of "same line comments" so they are persisted correctly if we convert the IniData back to a st

[2014-08-02 18:38] #51 closed, assigned to rickyah

[2014-08-02 18:40] rickyah opened #61 "Allow deleting all comments"
Add method to delete all comments from a inidata, a section or keyvalue structures.

[2014-08-02 18:41] #59 closed, assigned to rickyah

[2014-08-23 19:09] bwethington opened #62 "Issue with section.Key"
I might be doing something incorrect here, but I had issues when trying to look through all of the individual keys in the individual section.

[code]
However, key.Count above was always 0. I would expect it to have all of the keys already. The way around it for me at least was to add a line to call GetSectionData to actually get all of the keys.
[code]

Is this the way the library was designed? Se

[2014-08-23 21:17] bwethington opened #63 "Support for duplicate keys in a section"
The particular ini files have certain sections where there are duplicate keys. I understand that is not standard for ini files, but the ones I am working with allow duplicate keys.

[2014-09-08 18:58] #63 closed, assigned to nobody

[2014-09-08 20:09] #61 closed, assigned to rickyah

[2014-09-08 22:21] rickyah opened #64 "Add a SectionDataCollection.Add method"
The method should accept a `SectionData` object and add it to collection as defined in #62

[2014-09-08 22:25] #64 closed, assigned to nobody

[2014-09-15 12:28] yanxyz opened #65 "File encoding issue"
Hi, When I compile this project in VS, it throw errors. The file `ini-parser / src / IniFileParser / Model / KeyData.cs` is garbled:

![image](https://cloud.githubusercontent.com/assets/737120/4270800/5c4017f4-3cd0-11e4-9b56-5010b02f30a7.png)

It's encoding is ANSI, but my OS (cp936) can't handle the character `\xA0` correctly. After change it to space(utf8), It compiles successfully.

[2014-09-15 12:43] #65 closed, assigned to nobody

[2014-12-05 16:29] RichardSinden opened #66 "ArgumentNullException when parsing sectionless ini file with comments at the end"
Hi,

I'm trying to parse an .ini file that contains no sections and also has comments after the last key-value pair, but it throws an `ArgumentNullException` in the sections dictionary.
The bit of code below in `IniDataParser::Parse()` attempts to add the trailing comment to the last section. Unfortunately there is no last section, because the file has no sections, so `_currentSectionNameTemp` is

[2014-12-07 19:21] #66 closed, assigned to rickyah

[2014-12-14 11:02] rleikis opened #67 "ReadFile excepts with no recovery if INI contains malformed key-value pair"
In the case of a malformed INI, such as missing a keyname, ReadFile throws an ArgumentException that is buried in Model/KeyData.cs line 19.

The way this is currently handled offers no recovery for the client calling ReadFile.  Would it not be better to detect the condition and assign the key-value pair a temporary name in the object in memory?  This would allow the client to react to the conditio

[2015-01-31 20:39] xtu opened #69 "Unable to keep all duplicate keys"
Thanks for this useful lib. I have an INI file with duplicate sections and a same key in every duplicate section. I would like to keep all these keys by concatenate all the values with a separator between them.

Here is an example of the INI file I would like to read.

[code]

I would like the lib to get the values in this way assuming that `; ` is used as the separator.

[code]

[2015-02-04 00:00] rickyah commented on #69
It seems like a really extreme edge case. Why would you like to use multiple duplicate sections and name instead of just setting the File value directly?

[code]

[2015-02-04 00:02] rickyah commented on #69
Closed to follow conversation in #70

[2015-02-04 00:02] #69 closed

[2015-02-13 04:36] rfresh737 opened #71 "IniData needs reference?"
This line:
IniData data = parser.ReadFile("Configuration.ini");
Tells me Type or Namespace 'IniData' could not be found.

How do I fix that?

I have this line at the top: using IniParser;

[2015-02-13 08:37] rickyah commented on #71
Add a reference to the namespace:

using IniData.Model;

[2015-02-13 09:54] #71 closed

[2015-02-13 09:55] rickyah commented on #62
Seems to be fixed then

[2015-02-13 09:55] #62 closed

[2015-02-13 09:56] rickyah commented on #67
Did not forgot about this, unfortunately I been really really busy.

[2015-02-13 15:44] rfresh737 opened #72 "How do I delete a complete Section?"
Can you give a c# example of how to remove an entire section from the ini file?

Thank you...

[2015-02-13 15:58] rickyah commented on #72
iniData.Sections.RemoveSection("section_name");

Sent from my iPhone

[2015-02-13 19:36] rfresh737 commented on #72
My test1.ini file has this:

[1111]
1111=1111

[2222]
2222=2222

[3333]
3333=3333

[4444]
4444=4444

var parser = new FileIniDataParser();
IniData data = parser.ReadFile(@"C:\Project\test1.ini");
data.Sections.RemoveSection("3333");

But nothing changes in the file after I run this code.

[2015-02-13 21:43] rickyah commented on #72
Changes you made only affect the IniData object in memory. If you want to persist the changes to the file, you need to overwrite the file:

[code]

https://github.com/rickyah/ini-parser/wiki/First-Steps#saving-the-file

[2015-02-13 23:17] rfresh737 commented on #72
OK, thanks for your help!!

[2015-02-16 21:48] rfresh737 opened #73 "Distribution of my app"
Is there anything I have to do when I build my app to run outside of VS 2013?

When I run it as a stand alone windows app, at the part of the code where I'm using your module, I get a runtime error:
System.IO.FileNotFoundException: Could not load file or assembly 'INIFileParser, Version=2.0.4.0

This doesn't happen inside my VS 2013 IDE.

Thank you...

[2015-02-16 22:03] Svetomech commented on #73
Find the assembly reference in your project explorer window, set its property "Copy Local" to true.

[2015-02-16 22:18] rfresh737 commented on #73
I don't have the iniparser.dll file !! I don't see it in your source files.

[2015-02-16 22:27] rfresh737 commented on #73
I added the INIFileParser.cs file to my project folder. Now I see the INIFileparser.dll file in my solution explorer but I still don't see the .cs file. I don't see anything about "Copy local".

I'm really confused as to how all of this works.

[2015-02-16 23:20] rickyah commented on #73
The problem is that your app cannot find the IniFileParser.dll file. That's the file created when you compile this project. If you use the dll file you don't need to add any .cs file.

In your application you should have a reference to the IniFileParser.dll file, otherwise you wouldn't be able to use it even in visual studio. When you run the app in VS, it automatically copies that dll file to the

[2015-02-16 23:20] #72 closed

[2015-02-17 01:21] rfresh737 commented on #73
OK, got it...thanks...

[2015-02-20 10:58] rickyah commented on #67
I've been working in the first point: Provide better error messages.

You have new APIs to check errors:

* The exception `ParseException` contains a string with the line and and int with the line number that originated the error.
* `IniDataParser.HasError` returns true if `IniDataParser.Parse()`  encounter a problem
* `IniDataParser.Errors` returns a list with all the `ParsingException`s found wh

[2015-02-23 05:21] #73 closed

[2015-04-11 21:53] beatcracker opened #76 "Section and key names are case-sensitive, could this be configurable?"
Currently, to get content of the section\key, one has to specify section and key name in exact case as they are stored in the ini file. This is confusing, because native Windows functions [GetPriveProfileString](https://msdn.microsoft.com/en-us/library/windows/desktop/ms724353.aspx) \ [WritePrivateProfileString](https://msdn.microsoft.com/en-us/library/windows/desktop/ms725501.aspx) are not case-s

[2015-04-11 22:29] beatcracker commented on #76
Currently, to get content of the section\key, one has to specify section and key name in exact case as they are stored in the ini file. This is confusing, because native Windows functions [GetPriveProfileString](https://msdn.microsoft.com/en-us/library/windows/desktop/ms724353.aspx) \ [WritePrivateProfileString](https://msdn.microsoft.com/en-us/library/windows/desktop/ms725501.aspx) are not case-s

[2015-04-13 19:13] rickyah commented on #76
Hi @beatcracker

I think that a case insensitive flag in the parser configuración would be an useful add on to the library so it is compatible with Windows native functions. I'll begin to work on it, but this week I'm really busy.

[2015-04-13 19:13] #67 closed

[2015-04-13 22:27] beatcracker commented on #76
Thank you, @rickyah , it's not urgent at all, just a good thing to have.

[2015-04-14 14:00] beatcracker opened #77 "Values from CommentChar and CommentString are used unescaped in CommentRegex"
##### Steps to reproduce the problem:

1. Create INI file:

        [Section]
        \Backslash comment
        Key=Value

2. Set `Parser.Configuration.CommentString = '\'`

3. Try to read file using `ReadFile('.\example.ini')`

##### Expected result:

IniParser should be able to parse file and return `IniData` object.

##### What do you see instead?
    Exception calling "ReadFile" with "1" argu

[2015-04-15 20:29] rickyah commented on #76
beatcracker, I've just uploaded a new PR implementing this issue: https://github.com/rickyah/ini-parser/pull/78

Please, check it out, test it if you please and don't hesitate to comment if you have any feedback.
Close the issue to follow the discussion in the PR

[2015-04-15 20:29] #76 closed

[2015-04-16 22:51] beatcracker commented on #76
@rickyah, I've just built and checked new version and it works like a charm! Thank you very much.

[2015-05-31 15:10] rickyah commented on #58
Fixed in #80

[2015-05-31 15:10] #58 closed

[2015-05-31 15:10] #56 closed

[2015-05-31 17:10] rickyah commented on #77
This has been fixed in the development branch. By mistake I merged the fix with a reorganization of the tests in the commit 82ae0d05e81587f959cea19a66ac2cbb01a15729

[Here is a link to the line with the test](https://github.com/rickyah/ini-parser/commit/82ae0d05e81587f959cea19a66ac2cbb01a15729#diff-afc29b16536bd093518d401a1fca7219R180)

[2015-05-31 17:10] #77 closed

[2015-06-10 22:36] Reimashi opened #83 "Add a section to IniData.Section produce errors."
(Sorry for bad English)

When a section is added to an IniData object with .Sections.Add(), some inconsistencies and errors occur.

Example:

[code]

This code produces the file:

[code]
in place of
[code]

[2015-06-11 18:13] mbcrawfo opened #84 "Convenience methods for accessing keys"
Not really an issue, but seeing if you are interested in these features.  I'm planning to add some convenience methods so that you can get a key using a single string (eg "MySection:MyKey") and possibly also generic methods to automatically parse a key for types that have a static Parse method.

I can easily add these as extension methods for myself, but if you are interested in having them as par

[2015-06-13 09:03] rickyah commented on #83
I'll take a look at it, thanks!

[2015-06-13 17:35] rickyah commented on #84
@mbcrawfo any addition and PRs are welcome.

However, regarding the extension methods you mentioned you want to add to IniData I would actually do prefer them to be extension methods. I didn't bother to create functions to converting string keys to values because there are many publicly available (e.g. http://extensionmethod.net/csharp/string/parse-t or http://stackoverflow.com/questions/1465855/h

[2015-06-13 19:06] #83 closed

[2015-06-17 17:19] mbcrawfo commented on #84
The method that I implemented takes optional params, and uses reflection to look for a static Parse method taking a string and the params you passed, so you can access all of the Parse overloads to handle cultural formatting and so on.  For example,

    var data = new IniDataParser().Parse("key = 42.5");
    int key = data.GetKeyAndParse<int>("key");  // calls Int32.Parse(string)
    key = data.G

[2015-07-13 20:03] #84 closed

[2015-07-20 21:06] dweldy opened #88 "Quote in the Section Name"
Doing something like this:
[W101    0.5" wc]
will break the parser.

Processing quotes for the key=value par within the section makes sense but may need an option to be ignored in the section name.

[2015-07-20 21:23] dweldy commented on #88
workaround:
In the IniParserConfiguration set the value of SectionRegex to:
new Regex(@"^(\s*?)\[{1}\s*[_\""\{\}\#\+\;\*\%\(\)\=\?\&\$\,\:\/\.\-\w\d\s\\\~]+\s*](\s*?)$")

[2015-07-29 16:57] zemanux opened #89 "Cannot configure IniDataparser in FileIniDataParser"
Hi, we need an additional constructor with IniDataparser. Can be done with something like this :

    FileIniDataParser(IniDataParser parser) : base(parser) ()

[2015-08-07 10:50] jpenzes opened #90 "Escape characters"
Hi,

if I see it correctly, the parser cannot handle now the escape characters. Is it true?
E.g.: https://en.wikipedia.org/wiki/INI_file#Escape_characters

Best regards,
János

[2015-08-18 21:51] rickyah commented on #90
No, the parser does not currently handle escaped characters that are used for the definition of the ini file. For example you cannot escape the comment character (;) nor the equal sign as it delimites a property

[2015-09-03 11:34] efzwo commented on #89
I've added a pull request for this enhancement

[2015-09-09 17:29] Anime4000 commented on #90
all my string need do `.Replace("\n", "\\n")` before parse into INI, same with `\r` and `\t`.
I will more nice if these handle natively.

[2015-09-11 17:37] davidgrupp commented on #88
It also fails on single quote as well

[2015-09-13 12:47] #89 closed

[2015-09-13 13:06] rickyah commented on #90
Changing the actual contents the original .ini file of the user before parsing and doing it w/out warning seems like a bad idea to me

[2015-09-13 13:06] #90 closed

[2015-09-13 13:07] rickyah commented on #88
I think this should be fixed by @davidgrupp's PR #93

[2015-09-13 13:07] #88 closed

[2015-09-17 08:01] seveseve commented on #60
Does the INI format really allow comments which are not starting at the beginning of a line? I know that the GetProfileString-WinAPI calls do not support these kinds of comments. In the german Wikipedia article they also say that it is not allowed but in the english version there is a heading called "Varying features". Imho these varying features are not part of the "original" INI format but some

[2015-10-03 17:11] rickyah commented on #60
I've been thinking on this and I think you are right @seveseve On top of that supporting this kind of behaviour could break backwards compatibility in some cases. Let's suppose we have an ini file with strings for localizations, if the library starts treating characters that appear in the middle of a line as comments it could break the previous behavior in a non-obvious way
[code]

So I've decided

[2015-10-03 17:11] #60 closed

[2015-12-08 06:30] rmunn opened #94 "Need new NuGet release"
I want to configure FileIniDataParser objects more easily using the feature added in https://github.com/rickyah/ini-parser/pull/92 (merged on September 13th), but the [latest NuGet package](https://www.nuget.org/packages/ini-parser/), v2.2.2, is from June 13th and doesn't include that feature.

I'd rather not have to build my own NuGet package; I prefer to use official packages whenever possible.

[2015-12-09 11:27] rickyah commented on #94
I'll try to push a new package today

Ricardo Amores Hernández
Twitter www.twitter.com/rickyah
LinkedIn www.linkedin.com/in/ricardoamoreshdez

Sent from my iPhone

[2015-12-09 11:33] beatcracker commented on #94
Nightly Appveyor builds :wink: ?

[2015-12-09 23:42] rickyah commented on #94
Here is the latest nuget package ;)
https://www.nuget.org/packages/ini-parser/2.2.3

[2015-12-09 23:42] #94 closed

[2015-12-15 18:14] matth0x1 opened #95 "Link to license file in nuget package is broken"
Package profile
https://www.nuget.org/packages/ini-parser/

Broken link
https://github.com/rickyah/ini-parser/master/blob/LICENSE.txt

Working link
https://github.com/rickyah/ini-parser/blob/master/LICENSE

[2015-12-22 07:11] MiyamuraMiyako opened #96 "The save result is not the same on different systems"
IDE:VS2015 Commiunty
windows10 x64:.NET 4.5 runtime(may be 4.5.1,4.5.2,4.6 or 4.6.1?)
windows xp (in vmware12): .NET 4.0
project setting runtime:.NET4.0 Client Profile
[code]

in win10 result:
![11111](https://cloud.githubusercontent.com/assets/10345361/11949825/0b516b44-a8be-11e5-9039-ada00af86505.jpg)

in xp result:
![image](https://cloud.githubusercontent.com/assets/10345361/11949832/174d980a-a

[2015-12-23 03:48] MiyamuraMiyako commented on #96
oh, that's xp issue.
http://stackoverflow.com/questions/12319903/system-windows-forms-screen-devicename-gives-garbage-on-windows-xp

[2015-12-23 03:48] #96 closed

[2016-01-26 19:49] rickyah commented on #95
Fixed in #97

[2016-01-26 19:49] #95 closed

[2016-02-22 11:17] francescoformenti opened #98 "Default encoding for ini file"
Hello,
I would like to report a small incoherence in the FileIniParser class:
the method:
`public void WriteFile(string filePath, IniData parsedData, Encoding fileEncoding = null)`
uses Encoding.ASCII if no encoding provided, but the method:
`public IniData ReadFile(string filePath)`
uses Encoding.Default.
On an Italian Windows 10 system, it causes the class to write the chars: "òàùèéì" in ASCII a

[2016-02-22 12:15] rickyah commented on #98
Thanks @francescoformenti for the bug report!
I'll make ASCII the default encoding and I'll also update the mid library version as this could break compatibility

[2016-02-26 19:09] davidbollman opened #99 "feature request"
I have an ini which isn't quite proper but for business reasons cannot change, as I suspect others do, it would be nice to allow for some accommodations for this scenario.

Specifically for me there is no header [...] sections and the comment character is non standard, in my case it's a #.  It would be a nice feature to specify to the parser a different comment character (pre Readfile), and allow

[2016-02-26 20:19] Svetomech commented on #99
But isn't changing it already possible?

[2016-02-26 20:29] rickyah commented on #99
You can configure the parser to use a different comment character, see this page: https://github.com/rickyah/ini-parser/wiki/Configuring-parser-behavior

And specifically look at IIniparserConfiguration.CommentChar

Feel free to ping me if you need further help @davidbollman

[2016-02-29 18:44] #98 closed

[2016-03-01 21:30] rickyah commented on #99
@davidbollman You have an example of this configuration in the example project: https://github.com/rickyah/ini-parser/blob/development/src/INIFileParser.Example/Program.cs

[2016-03-01 21:30] #99 closed

[2016-03-02 16:53] mponton opened #100 "Q: Is SectionData.Clone() supposed to return a complete copy of the section?"
My .NET knowledge is quite limited and I'm using your library with PowerShell (thanks!).

I noticed that when I `Clone()` then `Merge()` a section, the `Merge()` affects the original SectionData object. I'm not sure if an issue or my lack of understanding of the `Clone()` method. For example, assuming **this INI file**:
[code]

**And this code:**
[code]

`A.Recurse` will be `False` as expected, bu

[2016-03-02 18:47] rickyah commented on #100
Nope, it is supposed to create a deep copy. I'm almost finished with on the fix, you'll have it available in the development branch

[2016-03-02 19:27] #100 closed

[2016-03-02 19:27] rickyah commented on #100
You have the fixes available in the develop branch

[2016-03-02 21:29] mponton commented on #100
Wow, thank you so much for the quick fix!

And again, thanks for the project too, very much appreciated.

[2016-03-02 21:38] Svetomech commented on #100
Very much appreciated indeed. BTW, author, can you tell if [I'm doing anything wrong](https://github.com/Svetomech/SimpleMaid/blob/master/SimpleMaid/Program.cs) (Lines **279**/**396**)?
It's just that the code feels messy, feels like it could be simplified. Sorry if too much off topic.

[2016-03-08 09:58] Adavo opened #102 "Issue while parsing some chinese character"
Hello,

I found an issue when I try to parse a section that contains this Chinese character : "…"
I assume that key/value parsing should have the same issue too.

Here is the error log:
Unknown file format. Couldn't parse the line: '[HSK2.Grammar.Complex sentence with 虽然…但是… ]'. while parsing line number 0 with value '' - IniParser version: 2.2.4.0 while parsing line number 1 with value '[HSK2.Gra

[2016-03-08 10:39] rickyah commented on #102
@Adavo could you attach an ini file that allows me to reproduce this error?

[2016-03-08 11:38] Adavo commented on #102
Here is the file:
[grammar.txt](https://github.com/rickyah/ini-parser/files/163058/grammar.txt)
Thanks !

[2016-03-09 12:21] Adavo commented on #102
I clone the repos and try to execute. The issue seams to be localized into the regex (Configuration.SectionRegex) that not match due to the special character. The regex is:
{^(\s*?)\[{1}\s*[_\"\'\{\}\#\+\;\*\%\(\)\=\?\&\$\,\:\/\.\-\w\d\s\\\~]+\s*](\s*?)$}

I added just the special character to this regex:
{^(\s*?)\[{1}\s*[_\"\'\{\}\#\+\…\;\*\%\(\)\=\?\&\$\,\:\/\.\-\w\d\s\\\~]+\s*](\s*?)$}

I have

[2016-03-10 17:23] tvanassche opened #104 "Trailing comments not working"
Small fix for the trailing comments on sections not being written to the ini file.

[SectionData.zip](https://github.com/rickyah/ini-parser/files/167674/SectionData.zip)

[2016-03-15 21:38] rickyah commented on #102
Hi @Adavo

I've made some research, and using the regex
`{1}\s*[\p{L}\p{P}\p{M}\p{N}_\""\'\{\}\#\+\;\*\%\(\)\=\?\&\$\,\:\/\.\-\w\d\s\\\~]+\s*`
makes everything work.
This new regex should work for any unicode:

- letter (`\p{L}`)
- punctuation (`\p{P}`)
- diacritic mark (`\p{M}`)
- or number (`\p{N}`)

This works for the special character you had problem with (…) and should potentially work for an

[2016-03-15 23:13] Adavo commented on #102
Hello and thanks for your answer. Yes you can use my text file as a test it's ok.
Glad to hear that you found a way to fix it and also may fix it for every Unicode character. I used a modified version of your libs for now but if later someone use your library for some Chinese he will be glad to don't have the same bugs. Thanks again.
Sent from my Superphone
Mar 16, 2016 5:38 AM wrote on Ricardo Am

[2016-03-16 22:05] rickyah commented on #104
Sorry, changes you made on the file still won't get persisted to the ini file. And I'm rethinking how to deal with comments without changing its order in the file anyway

[2016-03-16 22:05] #104 closed

[2016-03-16 22:09] tvanassche commented on #104
Haven't tested if they get persisted, but with the changes the trailing
comments are actually written to the file (when creating a new file).

On 16 March 2016 at 23:05, Ricardo Amores Hernández <
notifications@github.com> wrote:

[2016-03-16 22:14] #102 closed

[2016-04-04 04:05] njtaz76 opened #106 "Would like to retrieve value of key without knowing section"
Hi, is it possible for you to add the ability to retrieve the value of a key without knowing the section name?  I attempted to use the .GetKey method, but that only works on files that have no sections.  I also attempted Global.GetKeyData but will also not work.

Thank you!!  and thank you for such an awesome component!

[2016-04-04 05:59] Svetomech commented on #106
This sounds very reasonable to me since if a file has sections then values in them might have the same name. Thus, you have to specify section name explicitly. IMHO.

[2016-04-04 10:42] njtaz76 commented on #106
And if there are duplicates, it could follow the flags related to
duplicates.  Thank you for your quick reply!
On Apr 4, 2016 01:59, "Andrey Belyaev" <notifications@github.com> wrote:

[2016-04-04 15:34] Svetomech commented on #106
What do you mean by "flags related to duplicates"?
And I'm not the author, by the way. @rickyah is.

[2016-04-04 16:30] njtaz76 commented on #106
Oh sorry. Couldn't tell via the email.
On Apr 4, 2016 11:35, "Andrey Belyaev" <notifications@github.com> wrote:

[2016-04-04 21:01] rickyah commented on #106
You can easily search for keys in the sections:

[code]

[2016-04-04 23:03] #106 closed

[2016-05-21 06:42] quicktrick commented on #71
Hello @rickyah !
Thanks a lot for your program!  Please, add

`using IniParser;
using IniParser.Model;`

to the Wiki and to the "Getting Started" on the main page.

Regards!

Alex

[2016-05-21 17:23] rickyah commented on #71
Done! Thanks @quicktrick!

[2016-05-27 15:51] corystein opened #107 "Delete Section"
The below does not remove the section header.

data[Section].RemoveAllKeys();

[2016-05-27 16:02] rexwhitten commented on #107
It seems to me the behavior of RemoveAllKeys should not remove the section, (and thus remove the section header)

From: corystein [mailto:notifications@github.com]
Sent: Friday, May 27, 2016 11:51 AM
To: rickyah/ini-parser <ini-parser@noreply.github.com>
Subject: [rickyah/ini-parser] Delete Section (#107)

The below does not remove the section header.

data[Section].RemoveAllKeys();

—
You are rec

[2016-05-27 16:03] corystein commented on #107
Is there a way to easily remove the entire section?

Best Regards,
Cory

[2016-05-27 16:16] rickyah commented on #107
`iniFile.Sections.RemoveSection("sectionName")`

[2016-05-27 17:19] corystein commented on #107
Thank you that’s exactly what I needed.

Best Regards,
Cory

[2016-05-27 18:37] rickyah commented on #107
Anytime!

[2016-05-27 18:37] #107 closed

[2016-05-30 16:43] sergiorykov opened #108 "Support of custom line endings (\r\n,\n)"
I use parser to patch unix ini files with \n line endings on Windows.
Yes, it's pretty cruel.

Please, consider adding to `IniParserConfiguration ` new option **NewLine** with default `Environment.NewLine`
I can override `IIniDataFormatter `but it's a bit complicated to support all the options.
I thing for `DefaultIniDataFormatter `it's a good extension without loss compability. It internally uses

[2016-05-30 22:58] rickyah commented on #108
Please @sergiorykov  take a look at PR #109 and tell me if you see anything else.

[2016-05-30 22:58] #108 closed

[2016-05-31 07:54] sergiorykov commented on #108
It looks like everything is fine!

Thank you :)

[2016-06-03 12:22] AlexeyTipunin opened #110 "Inline comments"
Hello.

Is any possible to use inline comments like this:

Database    = TankBattery        # Database name

?
Thenk you.

[2016-07-21 14:30] rickyah commented on #110
@AlexeyTipunin sorry I missed this issue!

No, inline comments are NOT supported, but that's a bug, not a feature. I'll work on a new version ASAP however it will change the parser, so it will be a major upgrade of the library version

[2016-08-10 00:04] facelesspanda opened #111 "Wiki out of date"
The wiki is out of date.
I won't go into everything that it misses on because I don't know it all, but when I followed the 'first steps' and typed `parser.LoadFile(path)`, intellisense told me that method was obsolete. I'm glad your obsolete attribute had a description, but wouldn't it be wise to update the wiki as well?

[2016-08-13 13:39] facelesspanda opened #112 "Multiple comment chars"
Hi.

My app deals with Rainmeter skins, that are simply ini files with a specific set of rules. I've used Rainmeter for a long time and I've never come across this before, but here it is in front of me:

[code]

You can read it too: there's a usual ini  `;` comment, and there's a fancy title comment with colons everywhere.

How do I go about configuring the parser to accept both as valid comments?

[2016-08-13 14:09] facelesspanda commented on #112
Found the CommentRegex property of the configurator. Nevermind.

[2016-08-13 14:09] #112 closed

[2016-08-13 14:20] facelesspanda commented on #112
Moreover: new CommentString property. This github's doc really needs cleaning x)

[2016-08-13 14:55] facelesspanda opened #113 "_strRegexSpecialChars doesn't contain `]`"
Can't escape `]` in a configuration string if it's not there. And since the variable is constant, can't add it ourselves.

EDIT: In `IniParserConfiguration`

[2016-08-16 17:04] #111 closed

[2016-08-16 17:06] rickyah commented on #113
I don't fully understand what are you trying to accomplish.
Which variable from `IniParserConfiguration`are you referring to?
Why do you need to escape that particular character, what's the context?

[2016-08-17 02:58] facelesspanda commented on #113
It's the field `_strRegexSpecialChars` which lists all the characters that mean something in a regex.

I needed it because I was extending IniParserConfiguration and building a regex, in which I needed to escape the `]` character along with all characters that would be interpreted by the Regex as part of its structure and not a character I wanted to match. I thought about doing a list myself, but

[2016-08-22 05:18] rickyah commented on #113
Sorry but I still don't know what are you talking about: I can't find the _strRegexSpecialChars field you keep referring to in the codebase.

[2016-08-22 14:29] facelesspanda commented on #113
You had me doubting if I didn't mix up this repo with another, but I went digging again and found it:
[This exact line](https://github.com/rickyah/ini-parser/blob/development/src/IniFileParser/Model/Configuration/IniParserConfiguration.cs#L282).

[2016-08-22 19:00] rickyah commented on #113
Well damn me, it was `_strSpecialRegexChars`, not `_strRegexSpecialChars`. I though we had found a simultaneous bug in Rider, grep and ack! 😆

I'll add the `]` in no time

[2016-08-22 19:03] rickyah commented on #113
You got the fix in the developement branch @facelesspanda, thanks!

[2016-08-22 19:03] #113 closed

[2016-08-23 14:06] facelesspanda commented on #113
I'll be damned! My bad!
Thanks for the fix though :smile:

[2016-09-03 09:19] quicktrick opened #114 "ini-parser test"
Hi Ricky!

I wrote a small test of your parser allowing to read all the ini file keys automatically, basing on the correspondent settings class member's definitions.

Please have a look at it: https://bitbucket.org/quicktrick/test-ini-parser.git

May it be useful to include this link in your wiki ?

Best regards!

Alex

[2016-09-04 11:04] rickyah commented on #114
Sorry but I fail to see the utility of this test. You seem to have defined a data structure replicating the structure of an INI file and populating that with data read from the IniData parsed using this libraryto check if everything is properly initialized.
This is something specific to the final application using the ini parser, not the parser library itself so it doesn't belong here.

[2016-09-04 11:04] #114 closed

[2016-09-07 15:34] Malij75 opened #115 "Multiple comment character"
Hi,

Standard ini file allow  to use for comment line both "#" and ";" as comment char, but current version not supported multiple comment char.

Possible solution:
add [] in _strCommentRegex in IniParserConfiguration.cs
like:  protected const string _strCommentRegex = `@"^[{0}](.*)";
`

Regard,
Andriy

[2016-09-08 08:01] Malij75 commented on #115
This solution fix also a bug if you try to use "[", "]" , "(", ")" etc.  as comment string

Regard,
Andriy

[2016-09-08 08:05] Malij75 commented on #110
Hi,
Please not forget implement Configuration property like AllowInlineComment for turn inline comment search on and off, because sometime it's need to use ";" or "#" as value part

thanks,
Andriy

[2016-09-08 18:01] EasyLOB opened #116 "EasyLOB, an Archetype for LOB Applications"
Thanks for creating INI Parser!
I just published EasyLOB, an Open Source Archetype for building ASP.NET MVC LOB Application, at GitHub:

https://github.com/EasyLOB/EasyLOB/wiki

INI Parser is the library I use to read and write INI files.

[2016-10-06 07:02] cp1319421 opened #117 "How can i read a mix ini file?"
How can i use the ini-parser read a mix ini file like below? I want get the BoardSN value.

MEAS_NVVDD=954.582155M(902.499974M,997.500002M)V
MEAS_PEX_VDD=1.042621(997.499943M,1.1025)V
MEAS_FBVDDQ=1.528877(1.425,1.575)V
MEAS_DDC_5V=4.969013(4.75,5.25)V
MEAS_PEX_PLL=1.050018(997.499943M,1.1025)V
MEAS_3V3_FUSE=3.290271(3.135,3.465)V
MEAS_12V_F=12.022661(11.4,12.6)V
PS_OFF=(4.75,5.25)V
PS_OPEN=(-39.99

[2016-10-06 16:16] Svetomech commented on #117
Workaround: you can create a temp file that would only contain INI data and then parse it.

[2016-10-07 10:08] rickyah commented on #117
As that's not an INI file you can't use this library to parse it fully. As @Svetomech suggested, you could parse a subset of the file and parse only that subset, however you probably should not be adding a dependency on a third party library for such a simple feat.
I would just read the whole file, search for a line starting with `BoardSN`, and read the value on that line starting at '=' character

[2016-10-07 10:08] #117 closed

[2016-10-12 17:22] caverna commented on #115
@Malij75 did you try Configuration.CommentRegex option?

[2016-10-15 00:12] Jehoel opened #118 "Support key-only entries, and keys with spaces"
I would like this otherwise fine library to support INI files of the form:

[code]

This would allow INI files to contain lists of data without needing to resort to hacks like embedded CSV:

[code]

or adding `=1` so every key is a key/value pair:

[code]

This counts as a feature-suggestion. Some INI libraries already support arbitrary value-less keys, though Windows' own INI format does not supp

[2016-11-08 10:41] Malij75 commented on #115
Hi, yes i try to use Configuration.CommentRegex, but if you format _strCommentRegex @"^{0}(.*)" and replase {0} with configured comment string "#;" will result in regex "^#;(.*)" and test for string ";comment will be fail. Right pattern is "^[#;](.*)"

if you use "[" as a comment string then pattern for comment regex "^\[(.*)" is wrong. Right pattern is "^[\[](.*)"

[2016-11-15 14:06] Astorlights opened #119 "SkipInvalidLines & missing key"
Hi,
even though i set the SkipInvalidLines to true, the parser throws exception "key can not be missing" when the line is, well, invalid because of the missing key.

I believe the fix is simple - in IniDataParser.cs alter
fucntion protected virtual void ProcessKeyValuePair(string line, IniData currentIniData)
{
   string key = ExtractKey(line);
   if (string.IsNullOrWhiteSpace(key) && Configuratio

[2016-11-16 11:30] rickyah commented on #119
Yep, it seems like a wrong behavior, I'll look into it, thanks

[2016-11-16 11:32] rickyah commented on #115
I think I didn't considered using multiple comment characters. I'll take a look at your improvements, thanks

[2016-11-25 08:28] glatzert opened #120 "StreamIniDataParser does not respect AssignmentSpacer"
Setting `Parser.Configuration.AssigmentSpacer` on a `StreamIniDataParser` instance to `""` or `null` won't have an effect on the output.

[2016-11-25 08:29] glatzert opened #121 "Proposal: Allow supression of empty lines before Section"
Allow the programmer to set something like "NewLineBeforeNextSection" in the Parser.Configuration.
Some INI Readers don't like the empty lines there

[2016-12-02 14:09] wdominik opened #122 ".NET Core/.NET Standard Library 1.6 compatibility"
Are there currently any plans to provide a package for .NET Core/.NET Standard Library 1.6?

[2016-12-02 14:27] Svetomech commented on #122
Is there any particular reason you'd want to use INI file format w/ .NET core?

[2016-12-02 15:14] wdominik commented on #122
I need to communicate with another programm that uses INI files for transfer. Since I start this project from scratch, I'm evaluating the use of the .NET Core framework to be as portable as possible. It is not striclty necessary indeed, but since ini-parser is designed with portability in mind, I thought there might be plans to provide a .NET Standard 1.6 package.

[2016-12-02 15:18] Svetomech commented on #122
Reasonable. @rickyah, any plans on that?

[2016-12-05 23:20] rickyah commented on #122
Been disconnected from .NET platform development, so I had to read about what .NET standard is. I do not have any plans to create a .NET standard package,
 I've tried to run [apiport](https://github.com/Microsoft/dotnet-apiport) on ini-parser's assembly and support on mono is really subpar, so I'll wait until all this recent changes are more mature. PRs are welcome of course.

[2016-12-05 23:24] rickyah commented on #116
Thanks, appreciated!

[2016-12-05 23:24] #116 closed

[2016-12-05 23:27] rickyah commented on #118
I'll take a look at it

[2016-12-05 23:29] rickyah commented on #121
I don't really understand the issue. You mean that blank lines before a section confuses an INI reader? Which reader, do you have an example?

[2016-12-06 07:54] glatzert commented on #121
I have a Blackbox-Software which will accept an INI file in a specific location. Whatever that parser inside the (proprietary) software is - it will stop processing files upon the first empty line.
Yes, I know that parser sucks, no I cannot do anything about it. But if I just load and write a file without modifications, the ini-parser (yours), which does a pretty good job, will not result in the s

[2016-12-27 17:18] Karaulov opened #124 "System.NullReferenceException in default example!"
`   IniData data = new IniData(); `

`  data["Section1"]["key1"] = "value1"; `

`  Console.WriteLine(data.ToString()); `

i got System.NullReferenceException in string : `  data["Section1"]["key1"] = "value1";`

[2016-12-27 18:04] Karaulov opened #125 "Not working with cyrillic strings"
Not working with cyrillic strings!

All cyrillic string saves as '??????'

[2016-12-27 18:28] Karaulov commented on #125
parser.WriteFile(ConfigFileName, data,Encoding.UTF8);

works :)

[2016-12-27 18:28] #125 closed

[2016-12-28 12:53] Svetomech commented on #124
Call `data.Sections.AddSection("Section1");` beforehands.

[2016-12-30 12:44] Karaulov commented on #124
But it is default example!
Need fix it!
I want to write values without adding sections!)))

[2016-12-30 12:45] Karaulov commented on #124
https://github.com/rickyah/ini-parser/wiki/First-Steps

http://i.imgur.com/FtDD87A.png

[2016-12-31 11:36] rickyah commented on #124
Yep, that's a bug: the section should be created automatically if it does not exist inside the INIData structure when you access with the indexer operator

[2017-01-01 08:39] Karaulov commented on #124
You can fix it ? :hammer:

[2017-01-02 01:15] markosole commented on #124
Hi,

I have similar problem. I'am using text box as an input to get section data keys. If I enter the Section that does not exist I get the error message and application crash.

How can I fist check if section exist in the file and than gets it's data and print it in MessageBox?

Thanks

[2017-01-02 07:38] Outworldz opened #126 "Does not close filehandle"
File.Open never closes. Once I use this, I cannot delete or rename my INI file.

[2017-01-02 08:28] rickyah commented on #124
@markosole if you want to chack if a section exists you just need to call `myIniData.Sections.ContainsSection("new_section_name");`

To add the section yourself if it does not exists you use
`myIniData.Sections.AddSection("new_section_name")`

[2017-01-02 09:22] Karaulov commented on #124
But if section name UNKNOWN ?

need feature to auto add sections! Please! :(

[2017-01-02 10:09] rickyah commented on #124
If the section name is unknown you can't add a new section anyway 🙁

[2017-01-02 16:29] Karaulov commented on #124
Anyway, need fix))) impossible? :(

[2017-01-02 18:42] rickyah commented on #124
Yeah, i can fix it but will take time: I'm on Christmas holidays without access to my laptop. I've provided workarounds for that bug though,

However I can't fix what's not broken: if your problem is that you don't know the name of the section this is an different problem and no code in my library will help you 😔

[2017-01-02 20:08] markosole commented on #124
@rickyah thanks for reply. I have tried to implement that but could not figure it out.
Here is my example:

`public static string IniFajl(string machineNr)
        {

            //Create an instance of a ini file parser
            FileIniDataParser fileIniData = new FileIniDataParser();
            var parser = new FileIniDataParser();
            IniData data = parser.ReadFile("Configuration.in

[2017-01-02 21:35] rickyah commented on #124
@markosole

[code]

You were reading the configuration file twice. I've removed a line. I don't understand why are you concatenating with empty strings `"" + machineNr + ""` but I left the code there in case there is a reason

[2017-01-02 21:45] Svetomech commented on #124
[code]
@markosole

[2017-01-02 23:54] markosole commented on #124
@Svetomech Thanks man! This works.
and @rickyah I got the error for `string.Empty` not defined. How ever, Svetomech solution worked.
I am looking for a way how to store all sections and their ipAddresses in array and then show them in ListBox. I would use same array to make a PING test for each address in order to show it's status as "Online" or "Offline". Do you have any idea?
Thanks

[2017-01-03 11:47] Svetomech commented on #124
@markosole Please, don't abuse _Issues_ page. ~~I helped you once because it was at least somewhat related.~~
There are other places to seek C# help. E.g. I'd be more than willing to help you [here](https://discord.gg/PVjJ6).

[2017-01-03 23:03] rickyah commented on #124
@Svetomech, spot on. @markosole for generic programming questions you should use another place.

[2017-01-05 17:42] Karaulov commented on #124
**rickyah,** need fix))) It is necessary, you just do not need to know for what)

[2017-01-05 17:56] rickyah commented on #124
This is an Open Source project and I'm on vacation. If you really need it fixed ASAP, I accept PRs

[2017-01-06 10:04] Karaulov commented on #124
@rickyah This project belongs to you, you are obliged to correct everything errors ! :))

[2017-01-06 10:07] Karaulov commented on #124
@rickyah ,To correct this error it is necessary to understand your bad code, this bad code belongs to you and you shall correct all errors! :)

[2017-01-06 11:23] rickyah commented on #124
There's were you are wrong, I'm not obliged to anything. I maintain this project in my spare time, but I do not have too much time to spare these days, nor my laptop; I'm answering using my phone.

You have a workaround for the bug that you stubbornly refuse to use. I've told you twice that I'll fix it, but just not right now. But you choose to keep demanding in a rude way. Here's some free advice

[2017-01-06 11:23] #124 closed

[2017-01-06 11:29] rickyah opened #127 "NullReferenceException when accessing not existing section"
POC
[code]
i got System.NullReferenceException in string : data["Section1"]["key1"] = "value1";

[2017-01-06 16:27] Karaulov commented on #124
@rickyah without autocreate sections need write more unused code. I download this parser only for easy using...

[2017-01-06 16:55] Karaulov commented on #127
Yes!! Need fix it for remove unused code... (Adding sections is bad solution if many sections in many code, need rewrite all code to fix this issue, one of solutions - use another parser ?)

[2017-01-06 17:35] caverna commented on #127
I'm not able to pull this commit, what do you think of this patch?
[0001-Quick-fix-for-127.zip](https://github.com/rickyah/ini-parser/files/690449/0001-Quick-fix-for-127.zip)

I believe that the default behaviour for INI is to return "" instead null.
And if a section doesn't exist, just create it! :-)

[2017-01-06 17:59] caverna commented on #127
I got it! :-)

[2017-01-06 18:09] Svetomech commented on #127
I don't see that you modified indexator anywhere. Was it not necessary?
Also, "" should be String.Empty, but that's a matter of preference.

[2017-01-06 18:12] caverna commented on #127
String.Empty should be used, I agree...
I just wanted to create a quick fix... :-)
Look at line 92 and 94 in IniData.cs and line 86 in KeyDataCollection.
I just changed that...

[2017-01-06 18:16] Svetomech commented on #127
Oh, silly me, found it. Github usually shows method's name above changes, but I guess this is not the case with indexators. Anyways, good job!

[2017-01-12 04:29] dcrispgit opened #129 "An unhandled exception of type 'IniParser.Exceptions.ParsingException' occurred in INIFileParser.dll - Version 2.3.0.0"
I am using Visual Studio 2015 community.

I have tried to run your  ini-parser/src/INIFileParser.Example/Program.cs file

I get the following exception
"An unhandled exception of type 'IniParser.Exceptions.ParsingException' occurred in INIFileParser.dll

Additional information: Could not parse file test.ini while parsing line number 0 with value '' - IniParser version: 2.3.0.0"

I first found this

[2017-01-14 08:49] Karaulov commented on #127
Any news?

[2017-01-14 11:39] caverna commented on #127
@rickyah and I are discussing that

[2017-01-14 12:42] caverna commented on #129
I just run the INIFileParser.Example.exe without any problem (using the version 2.3.0).
May you please write down the complete exception message?

[2017-01-14 12:52] caverna commented on #120
The fix done at https://github.com/rickyah/ini-parser/issues/32 should correct this behavior.
Please provide information (code perhaps?).

[2017-01-15 21:07] dcrispgit commented on #129
This was a false alarm at the end of a very long work week for me.
After my break I retested the code and worked out the fault.

The following line defines where the file to be read can be found.   If the file is not found it throws an exception rather than handling the lack of file properly.

IniData parsedData = fileIniData.ReadFile("test.ini");

The default search folder for the file appears to

[2017-01-15 21:07] #129 closed

[2017-01-30 03:33] ianmakecode opened #131 "What is the call order of IniDataParser?"
Ricky, it would be outstanding if you would be willing to add call-hierarchy information to the wiki page regarding the IniDataParser.  Would be helpful in creating the proper logic necessary for custom IniDataParsers.

Thanks,
Ian Ray

[2017-02-05 22:16] X39 opened #132 "NuGet still refs to LICENSE.txt"
https://www.nuget.org/packages/ini-parser

would be nice if a link fix could be done on there

[2017-02-05 22:16] #132 closed

[2017-02-05 22:17] X39 commented on #132
i am stupid 🙈

[2017-02-07 17:10] rickyah commented on #131
Is a good idea! Will do👍🏻

[2017-02-07 17:47] ianmakecode commented on #131
awesome library!

[2017-02-17 01:05] rickyah commented on #127
Fixed. Latest code available on development branch, version 2.4 to be released before the end of the month

[2017-02-17 01:05] #127 closed

[2017-02-17 10:34] rickyah commented on #120
The `StreamIniDataParser` is not supposed to output anything, it is used to parse an ini file from a stream, so we abstract the source of the ini file. What's  the exact problem you are having @glatzert ?

[2017-02-17 10:48] rickyah commented on #131
I've updated the page with the algorithm steps:

https://github.com/rickyah/ini-parser/wiki/Customizing-the-parser-algorithm

I'm closing the issue but leave a comment here if you need anything else @ianmakecode

[2017-02-17 10:48] #131 closed

[2017-02-17 10:48] glatzert commented on #120
Since StringDataParser was marked obsolete, I used StreamIniDataParser to write an IniFile.
And some of the settings just got ignored - this is my current code, so you get the Idea what I was doing.

public void Serialize(MyModel x, string targetFilePath)
        {
            var iniOutput = new IniData();

            iniOutput.Sections.AddSection(HeaderSectionName);
            // Add more sect

[2017-02-17 10:58] rickyah commented on #118
Could you provide an example of other libraries allowing key less values @Jehoel? Can't find any and I would like to take a look at their approach.

Btw sorry for taking so long on looking at this issue, big personal changes in my life prevented me to spend some time on this side-project

[2017-02-17 11:01] rickyah commented on #121
I'm planning a rewrite of the parser so it is easy to tackle this kind of things, and more (comments in the same line) but it will take a little bit of time

[2017-02-17 11:02] glatzert commented on #121
Nice 👍
If you are up-for-grabs, I'd possibly able to spare some time into the Parser as well (since it is a valuable tool for me, that'd be more than fair :))

[2017-02-17 12:34] #119 closed

[2017-02-17 17:08] rickyah commented on #120
Replace line
`iniParser.Parser.Configuration.AssigmentSpacer = null;`
with
 `iniOutput.Configuration.AssigmentSpacer = string.Empty;`

I probably should separate Formatting options from parsing options, they are together because in the first versions,  the different parsers were the responsible to write ini data to a string. Now the IniData structure is the one that writes a string representation

[2017-02-19 00:47] ianmakecode commented on #131
Ricky,

Great job!  Thanks a ton! 10/10 library

On Fri, Feb 17, 2017 at 4:48 AM, Ricardo Amores Hernández <
notifications@github.com> wrote:

[2017-02-19 18:48] rickyah opened #134 "Separate between different configuration types"
Right now the IniParserConfiguration contains fields that control how to parse a file, how to format a file, or even how an ini file is formed. That data structure should be broke down in three different ones:

**IniFormatDefinition**
This structure will allow to define the format of the INI file by customization the characters used inside the file. Can be used by class `IniDataParser` to read INI

[2017-02-27 09:26] trutex opened #135 "`CaseInsensitive` configuration doesn't work for keys in a file with no sections"
If an INI file contains no sections, then trying to retrieve a key with the correct name but wrong casing fails, even if `CaseInsensitive` is set to `true`.

[2017-02-27 23:13] #135 closed

[2017-03-06 11:49] nimeshc64 opened #137 "how to get only all section name"

[2017-03-06 19:44] rickyah commented on #137
I don't know if I did understand your question completely. Do you need to get the names of all the sections in a file? If that's the case, you can iterate `inidata.Sections` and query the `SectionName` property:

[code]

Or you can use LINQ:

[code]

[2017-03-07 04:15] nimeshc64 commented on #137
thanks

[2017-03-07 04:15] #137 closed

[2017-03-30 22:47] Bert-Proesmans opened #138 "Proposal: Allow writing comments to file"
Hi

I'm using this library and i noticed the parser is capable of removing comments from input files.
Opposing to this there is no interface provided to WRITE comments to ini files.

It's not a life critical feature, would it be worth implementing functions that take comments to be written (at the section level) above/underneath sections?

Bert

[2017-03-31 13:21] rickyah commented on #138
Thanks @Bert-Proesmans. The library actually allows to create new comments, however the API is not as nice as accessing section and key/values.

Take a look at [`SectionData.LeadingComments`](https://github.com/rickyah/ini-parser/blob/development/src/IniFileParser/Model/SectionData.cs#L131) and [`KeyData.Comments`](https://github.com/rickyah/ini-parser/blob/development/src/IniFileParser/Model/KeyD

[2017-03-31 17:52] Nothing4You commented on #122
please reopen this. even if you don't plan to support this for now so it won't get lost.

[2017-03-31 21:18] Bert-Proesmans commented on #138
Thanks for the pointers!

I had used the Github search with 'comment' and the test cases showed first, so somehow i thought they were all about comment filtering.

Regarding documentation; i read the wiki pages before trying to prototype something myself.
It's super easy to get started and READ ini files, but trying to write a file (from scratch) could be fleshed out more. I basically just went wi

[2017-04-01 23:43] KennethScott opened #140 "Merging files example doesn't seem to work"
I may just be missing something, but I can't seem to get the example in the README.md for merging **files** to work.
[code]
Produces an exception:
`ParsingException: Unknown file format. Couldn't parse the line: 'global_config.ini'. while parsing line number 0 with value '' - IniParser version: 2.4.0.0`

It looks like parser.Parse() is actually supposed to take a *string* of raw ini data as oppose

[2017-04-02 15:54] rickyah commented on #140
You are right that `IniParser.Parse` requires an string with the contents of the ini file, so the example is wrong, I'll change it.

You can use FileIniDataParser or whatever method you prefer to read the contents of the file, e.g:

[code]

[2017-04-04 22:16] rickyah commented on #140
Fixed

[2017-04-04 22:16] #140 closed

[2017-04-04 22:44] rickyah commented on #138
I've added a brief section on the readme so people know that you can modify comments for an ini file

[2017-04-04 22:44] #138 closed

[2017-04-05 09:26] ljporljp opened #141 "How can i add custom comment style ？"
Hi, I want to add "//" comment style to the ini structure, how just can i do ?  Would you please give me a example ?

[2017-04-06 22:18] rickyah commented on #141
Please search in the wiki page https://github.com/rickyah/ini-parser/wiki/Configuring-parser-behavior for `CommentString`

[2017-04-06 22:18] #141 closed

[2017-04-11 02:18] ljporljp commented on #141
Ok, i did that ,but i want to use two or more “CommentString” , Did the ini-parser support ? ps. there are many config ini that mixed with "#" , ";" and "//",[(-,-)headachy]

[2017-04-11 12:50] DenisDollfus commented on #122
Needed here too.

[2017-04-16 18:22] rickyah commented on #122
I'll reopen this by petition, but if anyone can provide some links about how to create a library compatible with .net core 1.6 I'll be really happy :)

[2017-04-16 18:53] Nothing4You commented on #122
Suggestions that were brought to me were having 2 different csproj files, one targeting .net fx 2.0, one targeting .net standard 1.6. since not all code is compatible with both .net versions a wrapper class should be created with an implementation for each version. then each csproj file should exclude the other versions implementation of that class.
there's only a few places where code isn't compa

[2017-04-16 22:41] rickyah opened #145 "System.Reflection compatibility in .net standard 1.6"
Change all usages of Type method calls to use TypeInfo. The latter is supported in .net standard 1.6 API

GetExecuting assembly is not a supported API so that has to change too.

[2017-04-17 18:21] Nothing4You commented on #145
This change is not supported in .NET 2.0. If we want to keep .NET 2.0 support there will have to be different ways to access this (e.g. wrapper methods).

[2017-04-17 18:32] rickyah commented on #145
For version 3 I don't care anymore for .NET 2.0, it's been its 10th birthday anyway :D

[2017-04-17 18:35] Nothing4You commented on #145
What's the minimum version you want to support?

[2017-04-17 18:39] rickyah commented on #145
I've been thinking about it since you create the code clean up PR #143

Technically, if I want this lib to still support unity engine, it should be .net 3.5. However I don't know the current version of mono included by the latest unity 5.6. On top of that, unity includes some new compiler features although it uses an older version of the framework.

I need to gather some more information, for now

[2017-04-17 18:40] Nothing4You commented on #145
Just for reference, by targeting .net standard 1.6 the .NET Framework 4.6.1+ will be supported.
https://github.com/dotnet/standard/blob/master/docs/versions.md

[2017-04-19 13:12] js69 opened #146 "Split concatenated DuplicateKeys in WriteFile"
Hello,

is there a way to make WriteFile split concatenated DuplicateKeys lines into single lines?

Input .ini is something like this:

[SectionX]
MyVal=1
MyVal=2
MyVal=3

Reading this into a ConcatenateDuplicatedKeysIniDataParser with AllowDuplicateKeys=true and ConcatenateDuplicateKeys=true will create a key object with

MyVal=1;2;3

and WriteFile will write it to a file like that.

[SectionX]
M

[2017-04-19 22:43] rickyah commented on #146
I'm afraid there is no way to do what you want to do right now.

[2017-04-27 09:32] ljporljp commented on #146
With AllowDuplicateKeys=true, Myval got 1 not three values?

[2017-04-27 17:57] MasihAkbari opened #147 "support for unicode"
hi i use this line of code
`data["setting"]["SUBJECT"] = "سلام";`
`parser.WriteFile("config.ini", data);`

this text is in unicode (persian) but in config file it saves as ???????? chars.
how can i use unicode with this library?

[2017-04-27 18:07] Svetomech commented on #147
@MasihAkbari Change `parser.WriteFile("config.ini", data);` to `parser.WriteFile("config.ini", data, Encoding.UTF8);`.

[2017-04-27 18:11] MasihAkbari commented on #147
thanks that's works like a charm

[2017-04-28 09:58] js69 commented on #146
ljporljp, yes, with AllowDuplicateKeys=true and ConcatenateDuplicateKeys=false there is only 1 value then (the last one in the .ini).

[2017-04-28 14:09] Svetomech commented on #147
No problem.

[2017-04-28 14:10] rickyah commented on #147
I need to put that in the documentation, is not the first time is asked

[2017-04-28 14:12] rickyah commented on #147
And for the new version is probably safe to actually use unicode as default

[2017-04-28 14:12] Svetomech commented on #147
Better yet, just default writing to use UTF8 (since . Unless it causes some compatibility problems I'm unaware of.

[2017-05-26 01:06] agc93 commented on #122
@Nothing4You Couldn't this also be done with one csproj file, targeting both frameworks, then use conditional compilation symbols to ignore the incompatible parts?

[2017-05-26 01:40] Nothing4You commented on #122
probably, i haven't messed with conditional csproj files so far.

[2017-05-28 04:31] agc93 commented on #122
@rickyah @Nothing4You I've opened #149 for enabling .NET Standard 1.3 support based on the current `development` branch (rather than 3.0).

Feedback and questions welcome.

[2017-06-26 16:35] apalomba commented on #102
Hello there, I seem to be encountering the same problem. I have an INI file that loads okay when running as an application. But when I run my app as a service, ini-parser can not parse the same INI file. I get the following error....

IniParser.Exceptions.ParsingException[br]Could not parse file DataParserSystem.ini while parsing line number 0 with value '' - IniParser version: 2.4.0.0[br]   at In

[2017-06-26 17:32] apalomba opened #150 "ini-parser can not parse INI file as service"
Hello there, I seem to be encountering the same problem. I have an INI file that loads okay when running as an application. But when I run my app as a service, ini-parser can not parse the same INI file. I get the following error....

IniParser.Exceptions.ParsingException[br]Could not parse file DataParserSystem.ini while parsing line number 0 with value '' - IniParser version: 2.4.0.0[br] at IniP

[2017-06-26 19:30] rickyah commented on #150
What do you mean as "parsing as a service"? Could you provide a sample code and a sample ini file to run some tests?

[2017-06-26 20:09] apalomba commented on #150
"parsing as a service" means I am calling the ini-parser from a windows service. When I load the INI file from the service, it encounters this error. When I run the same code as a console app, it does not encounter this error. It is a mystery to me why the behavior is different.
I have attached the INI file...
[DataParserSystem.txt](https://github.com/rickyah/ini-parser/files/1103338/DataParserSys

[2017-06-26 21:22] apalomba commented on #150
My code...

FileIniDataParser fileIniData = new FileIniDataParser();
fileIniData.Parser.Configuration.CommentString = "#";
fileIniData.Parser.Configuration.ThrowExceptionsOnError = true;
string appPath = AppDomain.CurrentDomain.BaseDirectory;
IniData iniData = fileIniData.ReadFile(appPath + "DataParserUser.ini", System.Text.Encoding.UTF8);

[2017-06-28 17:45] Svetomech commented on #150
`string appPath = AppDomain.CurrentDomain.BaseDirectory;` line is the likely cause.

[2017-06-29 19:56] apalomba commented on #150
I got it to work. I had to load the file into memory and escape special characters manually before giving it to ini-parser. Ideally I should not have to do this. It would be nice if ini-parser worked the same in both cases.

[2017-06-29 21:35] rickyah commented on #150
I have no access to a windows machine right now so I can't test the code under a windows service, however this is a really strange bug. Which special characters did you removed for this to work?

[2017-06-29 22:13] apalomba commented on #150
I escaped all the ones I was using "(", ")", and "+".

[2017-07-16 15:39] #147 closed

[2017-07-19 01:01] rboy1 commented on #120
So I'm a little confused here, there are two configuration objects, one for Parser and for Config, which one are we supposed to use and when? Why not just one have one configuration object in the parser and use that for everything.

[2017-07-19 01:32] rboy1 commented on #120
I got it, looking at the code I see iniParser and iniOutput have their own Parsers unless the iniOutput was created by the iniParser. I think for clarity purposes there should be a constructor for IniData that should accept a IniDataParser as an input the same way FileIniDataParser accepts one otherwise without appropriate documentation this can get very confusing.

[2017-07-19 06:25] rickyah commented on #120
IniParser has a configuration file used to know how he should parse files: the comment character to use, whether it is allowed to repeat sections, etc

That configuración file has to be used too to write the data contained on IniData to a string, and as the IniData has that responsibility, the configuration of the parser is copied to the IniData when you parse a file
 However you need to configure

[2017-07-19 06:27] rickyah commented on #120
IniData accepting a parser as a parameter makes no sense to me: is the parser the one that creates the ini, not the ini creates itself using a dependency on a parser.

If you want to check the 3.0 branch, there are different configuration files that explain more semantically what each is used for

[2017-07-19 06:27] #120 closed

[2017-07-19 06:28] rickyah commented on #120
I'm closing this because the original problem is fixed, but feel free to continue the conversation @rboy1

[2017-07-19 06:31] rickyah opened #151 "Signing issues in v2.5.0"
ini-parser 2.5.0 seems to have some signage issues. Strong-name verification fails on my end, with this exception. I don't think the problem is on my end since 2.4.0 works just fine.

"Could not load file or assembly 'INIFileParser' or one of its dependencies. Strong name signature could not be verified. The assembly may have been tampered with, or it was delay signed but not fully signed with the

[2017-07-20 23:01] rboy1 commented on #150
This is working fine, I can confirm as I tested it on a service. You may have an issue with the default Regex Parser for the section name in IniParser as it's designed to not accept special characters.

[2017-07-20 23:13] rboy1 commented on #120
I understand what you're saying but logically there is a problem here. There is a lack of documentation explicitly identifying that the configuration options need to set separately for reading and writing first.

A typical flow would look like:

                m_parser = new FileIniDataParser();
                m_parser.Parser.Configuration.CaseInsensitive = true; // We aren't case sensitive

[2017-07-21 04:02] yuuhhe commented on #151
crash on web application only

[2017-07-23 10:00] #151 closed

[2017-07-23 10:29] rickyah commented on #151
A new nuget version 2.5.2 with strongname signing is available
https://www.nuget.org/packages/ini-parser/2.5.2

[2017-07-23 21:14] rickyah commented on #120
You are tottally right @rboy1, but I prefer to leave it as it is for 2.x and do a better job for the 3.x version

[2017-07-24 13:46] flmontpetit commented on #151
Thanks a lot for this

[2017-07-24 13:50] rickyah commented on #151
Thank you for letting me know!

Seems like a bug in VS, or a problem when I migrated from xamarin studio to the new "version" visual studio mac. The project is actually configured to sign the library's dll, but it does not work. It just skips it. So I had no idea I pushed the library without a strong name (signed)

Fortunately the feedback was quick! ;)

[2017-07-25 09:16] yuuhhe commented on #151
well done

[2017-07-30 05:38] MMWPF opened #152 "Can not save commented INI"
I am reading an ini file, which contains inline comments.
I am changing it a bit (Add keys, Update keys values...) and then save it.
In the outup ini I have 2 major chnages:
1. The comments does not keep
2. The assigment changed from Key=Value to Key = Value (Wrapping spaces)

Example file (Before)
[Example]
ABC=2 ;This is a very importend comment
DEF=3 ;Yet, another very importend comment

Exampl

[2017-07-31 08:32] rickyah commented on #152
Yep, I'm afraid that's a flaw in the  library: it does not saves where the comments, or any other construct, for the matter, are located in relation with the rest of the file. In other words, this library does not takes into account the physical layout of elements on the file.

I'm very aware of the issue, and several people show concern about the problem, so it is something I want to solve for ve

[2017-07-31 08:35] rickyah commented on #152
Sorry, missed your question about the wrapping spaces in key/value pairs, you can change the character to use as spacer at `IniData.Configuration.AssigmentSpacer = '';`

https://github.com/rickyah/ini-parser/blob/development/src/IniFileParser/Model/Configuration/IniParserConfiguration.cs#L199

[2017-07-31 15:11] tephyrnex opened #153 "Proposal: Default Value if key or section doesn't exist"
First...Thanks for the handy ini-parser.  Very good work indeed.

Saying that, it sure would be handy to allow a default value in for keys rather than throwing exceptions or returning null values.

_MyBoolValue_ = bool.Parse(data["Section"]["Key"],  _false_);

is a far sight easier to read/write than a bunch of try/catch blocks or manually checking for each section and key existence.

[2017-07-31 15:26] caverna commented on #153
@tephyrnex, may I suggest you to use this extension?
https://gist.github.com/caverna/b8d7ccb8b06c2995cb22
So you can use just like that:
<code>MyBoolValue = data["Section"]["Key"].To\<bool\>()</code>
Or with default value:
<code>int MyIntValue = data["Section"]["Key"].To(1234)</code>

[2017-09-16 12:38] ghost opened #154 "Ignore Issue"
Sorry figured out my issue

[2017-09-16 14:09] #154 closed, assigned to nobody

[2017-10-09 07:24] EmmanuelAtx opened #155 "Comment after section throws exception"
Unknown file format. Couldn't parse the line: '[Update]	; 4565454'. while parsing line number 0 with value '' - IniParser version: 2.5.2.0

When you try to put a comment after a section, the line can't be parsed.

[2017-10-13 13:23] mahendrent opened #156 "Trailing comments lost when saving file"
Trailing comments are loaded, but not cloned for the return value.

The SectionData class copy constructor is missing the following line:
_trailingComments = new List<string>(ori._trailingComments);

[2017-10-13 20:01] sylveon commented on #122
The library from NuGet works fine in .NET Core 2.0 BTW thanks to backwards binary compatibility.

[2017-10-21 10:34] pmwmedia opened #157 "INI files with header comments cannot be parsed"
If there are any comments in the header of an INI file, the parse throws a `ParsingException`.

Example file:
[code]
Version 2.5.2: **ParsingException**
Version 2.3.0: **parsed**

[2017-10-21 11:29] pmwmedia commented on #157
Sorry, was an encoding problem.

[2017-10-21 11:29] #157 closed, assigned to nobody

[2017-10-22 11:19] mestiso opened #158 "Spaces between key, assignment and value"
AssignmentSpacer seemed like the right value to tweak but it was already set to an empty string and values are written as:
foo = bar

How can I get this to write lines without the space between the key, assignment and value like:
foo=bar

[2017-11-05 02:01] Outworldz opened #159 "UTF-8 is always set"
Earlier versions, such as 2.5.2 saved the INI files as ASCII.  Later versions save them as UTF-8. Mysql will not run if My.Ini  is UTF-8. fml, I rolled back and it works

[2017-11-06 08:52] rickyah commented on #159
You can set up the encoding when persisting the Ini data to a file. If you are using FileIniStream, you can use the method `WriteFile(string filePath, IniData parsedData, Encoding fileEncoding = null)` calling it like
`iniFileStream.WriteFile("./my.ini", myData, Encoding.ASCII)`

https://github.com/rickyah/ini-parser/blob/development/src/IniFileParser/FileIniParser.cs#L121

If this didn't solve th

[2017-11-06 08:53] #159 closed, assigned to rickyah

[2017-11-06 09:31] rickyah commented on #158
Mind you to show me a snippet of the code you are using

The IIniDataFormatter has a `Configuration` field. You need to set the `AssignmentSpacer` there. Yes, I know is nowhere near as intuitive, and it will change, but in the meantime I can probably help you out if I see the code.

[2017-11-06 15:36] Outworldz commented on #159
Lovely, Thank you!

Fred

On 2017-11-06 2:52 AM, Ricardo Amores Hernández wrote:

[2017-11-07 15:00] Svetomech commented on #159
@Outworldz If you are interested when the change was made: https://github.com/rickyah/ini-parser/issues/147

[2017-11-19 16:44] rickyah opened #160 "Comments at the end of the file are not parsed"
The parser will stop parsing lines after the last name=value pair. It strips any comments after that. (It's using semicolons as comments.) I now add a dummy name=value at the end of the file and it stops killing the final comments.

[2017-11-19 18:49] rickyah commented on #153
I think the solution @caverna suggests is elegant enough. I do not wish to add code that convert between types because values in an ini could represent custom types. Also I think in this case the `null` keyword is semantically accurate: you asked for a value that do not exist.

[2017-11-19 18:49] #153 closed, assigned to nobody

[2017-11-19 18:53] rickyah commented on #160
Duplicated, see #156

[2017-11-19 18:53] #160 closed, assigned to rickyah

[2017-11-19 18:56] rickyah commented on #150
@rboy1 did you manage to reproduce the bug? Could you provide the project for a windows service so I can try to troubleshoot the issue?

[2017-12-12 00:20] rickyah commented on #158
I've just tested running `write_key_and_value_without_blanks` and it works

[2017-12-12 00:20] #158 closed, assigned to rickyah

[2017-12-12 00:23] rickyah commented on #155
@EmmanuelAtx  would you mind to post an ini file to reproduce the bug? I can't seem to trigger it

[2017-12-12 08:30] EmmanuelAtx commented on #155
Thank you for asking. Here you are:

[update_FR]	; My Comment
newVersion=6.14.0.2411
updateChance=1000
updateChanceBeta=0

Unknown file format. Couldn't parse the line: '[update_FR]	; My Comment'. while parsing line number 0 with value '' - IniParser version: 2.5.2.0 while parsing line number 32 with value '[update_FR]	; My Comment' - IniParser version: 2.5.2.0

[2017-12-21 06:32] Karaulov opened #161 "Lines with '#' at start, cause Exception."
I always got "Error" in this code:
[code]

[2017-12-21 06:33] Karaulov commented on #161
Sorry problem in 'INI' file :)  (bad comment)

[2017-12-21 06:35] Karaulov commented on #161
Lines with '#' at start, cause **Exception**.

[2018-01-05 12:19] domshifter commented on #161
I got the same problem, comment lines starting with an '#' cause the following exception:
`Unknown file format. Couldn't parse the line: '# comment'. while parsing line number 0 with value '' - IniParser version: 2.5.2.0 while parsing line number 4 with value '# comment' - IniParser version: 2.5.2.0 `

I know that comment lines shoud be started with a semicolon, althrough it seems to be pretty com

[2018-01-16 18:35] sportflier commented on #161
I'm having the same issue and use case as domshifter; I'm trying to use this library to parse MySQL ini files, but am unable to because of the exception thrown on comments in these files.

[2018-01-16 20:59] sportflier commented on #161
domshifter, Karaulov:

Digging through source code on this project, I found it is possible to get desired functionality (for me) to parse MySQL ini files, without altering ini-parser project source:
`                    var iniParserConfig = new IniParser.Model.Configuration.IniParserConfiguration()
                    {
                        CommentString = "#",
                        SkipInva

[2018-01-16 21:16] rickyah opened #163 "Document common usage: change comment character"
Add an example in the Getting Started section of the readme that shows how to change the character used to create comments in the ini file.

e.g: *#* is a common comment character used instead of the default: *;*

[2018-01-16 21:16] rickyah commented on #161
Documentation does states that you can change the character (the substring, actually) used as comment:
https://github.com/rickyah/ini-parser/wiki/Configuring-parser-behavior

However @sportflier 's idea is good: it would be an improvement to create a example in the *Getting Started* section to cover this common case. I've added an issue for that
https://github.com/rickyah/ini-parser/issues/163

[2018-01-16 21:16] #161 closed

[2018-01-16 21:20] rickyah opened #164 "Make available configurations easier to discover to new users"
Add a link in the readme to the wiki page that describes the Configuration of the parser:
https://github.com/rickyah/ini-parser/wiki/Configuring-parser-behavior

[2018-01-16 23:17] #150 closed

[2018-01-21 11:54] eduardomozart opened #165 "Can't change default Encoding from WriteFile"
Hello rick and Community!

Before everything, I just want to thank you for your work on this!

I'm using ini-parser into a .NET Core C# project to change the config of a legacy application (ClamWin). But I'm having a little trouble on it. It reads the file correctly, but when it is written to the disk, the ClamWin can't read the config from file.

I used WinMerge to compare the two ini files (I wa

[2018-01-21 13:08] eduardomozart commented on #165
My fault. Searching on older cases I could find a solution at #159, but now I migrated the code to Python so I couldn't test it.

[2018-01-21 13:08] #165 closed, assigned to nobody

[2018-01-29 18:21] Karaulov commented on #161
@rickyah but how to add new comment character? (without replace default)

[2018-01-29 18:26] Karaulov commented on #161
` parser.Parser.Configuration.CommentRegex =  new Regex("(#|;).*");`

[2018-01-29 18:37] rickyah commented on #161
The library does not supports multiple comment strings. The only solution right now is to create a child class of `IniParserConfiguration` and override _strCommentRegex

You can override CommentRegex as you did in your sample code, but beware: it will be overwritten if you assign something to CommentString. That property (`CommentRegex`) should be read only, is a mistake

[2018-02-14 22:07] Aleksbgbg opened #166 "Remove Trailing Newline After Saving"
Is it possible to get rid of trailing new lines when saving files?

[2018-02-28 13:02] ds1709 opened #167 "Method IniDataParser.ExtractComment works incorrect when CommentString is more then one char"
When CommentString has more then one char, for example "##", commentary string "## Commentary" will be correctly determined as commentary string, but substring "# Commentary" wil be extracted as commentary. After saving commentary text in output file will be "### Commentary".

[2018-03-19 10:57] Greyfox2k18 opened #168 "SectionData does not contain a definition for Name"
I tried to use the code from the first steps to read a series of values from an ini but i was given an error saying both the section and the key don't have a definition for name.

Any help would be appreciated.

Running visual studio 2015

[2018-03-19 20:34] Greyfox2k18 commented on #168
It appears key.Name and section.Name have been replaced with key.KeyName & section.SectionName respectively. Sorry!

[2018-03-20 08:23] secretwpn commented on #155
Actually I can't get it to work with any comments. When my file doesn't have comments - parsing and saving goes well, but if I have something like
`[SECTIONNAME]`
`PROP1=val1`
`# comment`
`PROP2=val2`
(doesn't matter which line I add a comment to) reading fails with error similar to described above

Also if I do this
`PROP=VAL #comment` - comment gets interpreted as part of the val. Though I'm not

[2018-04-11 10:32] HowToDoThis opened #170 "Saving Data[Using WriteFile] Got Problems?"
Hello There, I'm New To This Ini-Parser...
I Wanted To Do Is While Click The Button And Save 3 Textbox Data To A Ini File, Then When I Write A Simple Command > iniData[name][key] = Textbox1.Text; [Same Thing As Other 2] < To Set The Key Value. [So Far Here Got No Problems] After Set The Key Value, It Will Proceed To WriteFile. While Saving To The Ini Files, It Will Cause Some Duplicate Problems Li

[2018-04-11 22:26] #168 closed, assigned to nobody

[2018-04-24 18:12] vreguibar opened #172 "Multiple sections throwing error"
Hi,

I have an ini file which has several sections. Everything goes OK until one of the sections has a different Key pair:

**Example OK:**
[My Registry]
MACHINE\Software\EguibarIT\SecurityMode=1,"1"

**Example with error**
[My Registry]
MACHINE\Software\EguibarIT\SecurityMode=1,"1"

[My Other Registry]
"MACHINE\SOFTWARE\EguibarIT\AccountPicture\ID",0,"D:PAR(A;CI;KR;;;S-1-15-2-1)(A;CIIO;KA;;;CO)(A

[2018-04-27 06:16] GenKnight opened #174 "could support dotnet core?"
Hi, I wana use it in Linux OS with dotnet core 2.0
could you plz add support to it?

[2018-05-07 21:53] rickyah commented on #174
Support for dotnet core is planned for version 3.0, but no ETA yet. I'm actually developing with dotnetcore 2.1

[2018-05-07 22:04] rickyah commented on #172
Will look into it, thanks for reporting

[2018-05-07 22:10] rickyah commented on #172
Ok, problem seems that the ; is being used a the comment character. so your second string is actually processed like this:
`"MACHINE\SOFTWARE\EguibarIT\AccountPicture\ID",0,"D:PAR(A`
The rest is discarded and considered a comment
As that string does not contains an equal sign, it is neither a section nor a property, so the parser fails.

A solution would be to set  `parser.Configuration.CommentStr

[2018-05-07 22:20] rickyah commented on #170
Each time the StudentID.Text changes in StudentID_TextChanged() you access the iniData like this
`UserName.Text = iniData[StudentID.Text]["Username"];`
 iniData[StudentID.Text] creates a section whose name is the contents of StudentID.Text. So each time you press a key inside the form you generate a new section, which is the problem you seem to have.

This does not seem related to the lib, so I'll

[2018-05-07 22:20] #170 closed, assigned to nobody

[2018-05-07 22:23] rickyah commented on #166
Sorry for taking so long in anwering

Writing files is not one of the lib top priorities, so custom writing is limited.
As a workaround I suggest removing the lines from the file once is written. If you need more fine-grained writting options you will need to iterate through the iniData file and writing the values to a file manually

[2018-05-07 22:23] #166 closed, assigned to nobody

[2018-05-07 22:25] rickyah commented on #165
This was opened and closed so quickly that I totally missed it 😮

Thanks @coldscientist for the comments, glad this library helped you 😄

[2018-05-07 22:40] HowToDoThis commented on #170
So means that I cannot use TextChange For Auto check file and gave me data from it, cause it will auto generated a new appname?

[2018-05-07 22:52] rickyah commented on #170
My Winforms is rusty, but you may try doing it using the event focus lost so the code that creates the section it is only triggered once

[2018-05-08 22:24] #167 closed, assigned to nobody

[2018-05-24 15:44] csnewman commented on #121
It would also be nice to be able to disable the new line before comments on key-value pairs as well.
https://github.com/rickyah/ini-parser/blob/260b764ea7ed0039eadb90d383e40b76287bb0ea/src/IniFileParser/Model/Formatting/IniDataFormatter.cs#L63

[2018-06-27 13:35] salaros commented on #174
@GenKnight hey, I have recently created [a similar library](https://github.com/salaros/ConfigParser)
Please try it out and star if you like it

[2018-08-05 22:34] InteXX opened #175 "Extra bytes inserted at start of first line"
The parser is writing three invisible, non-editable bytes (except in a hex editor) at the very beginning of a given .ini file:

Naturally, applications are refusing to read the file.

I'm able to work around it like so:

    oBytes = File.ReadAllBytes(sPath).ToList
    oBytes.RemoveAll(Function(B) B.IsIn(New Byte() {239, 187, 191}))
    File.WriteAllBytes(sPath, oBytes.ToArray)

However, I'd rathe

[2018-08-06 05:49] rickyah commented on #175
That sequence is the Byte Order Mask (BOM) for UTF-8 files. Try setting the encoding of the file to other encoding like ASCII and it should work.

If you need the file to be in UTF-8, then you should write the IniData to a string yourself using any of those two methods:
https://stackoverflow.com/questions/2437666/write-text-files-without-byte-order-mark-bom

Please note that some editors (speciall

[2018-08-06 18:22] InteXX commented on #175
@rickyah

That did the trick, thanks. ASCII is fine.

Just curious... Wikipedia doesn't have an entry for Byte Order Mask. It does have one, however, for [Byte Order Mark](https://en.wikipedia.org/wiki/Byte_order_mark). Are they synonymous?

[2018-08-06 18:30] rickyah commented on #175
No they are not synonymous, is just me who can’t spell right  :smile:

The proper term is Byte Order *Mark*

Glad it worked!

[2018-08-06 18:31] InteXX commented on #175
Aha. Good man  :-)

Great job with this. Thanks for all you do.

[2018-08-06 18:31] #175 closed, assigned to nobody

[2018-08-12 13:59] gsulc opened #176 "Bug: AssignmentSpacer does not affect FileIniParser.WriteFile"
The Configuration.AssignmentSpacer can be set. However, it is ignored when writing to a file. Instead, space is always used.

[2018-08-23 23:43] keeratsingh commented on #174
@rickyah Any updates on plan to support dotnet core ?

[2018-10-30 15:31] pocketbroadcast commented on #174
Wouldn't a port to dotnet standard be a more general approach?

Used the ini-parser with dotnet standard 2.0. (So feel free to contact me for a pull request.)

[2018-11-09 19:43] salaros commented on #174
@pocketbroadcast indeed, .NET Standard support covers both .NET Framework, .NET Core as well as Mono and other implementations.
Instead of porting this library I decided to create my own. You can check it [here](https://github.com/salaros/config-parser/)

[2018-11-15 14:06] ypelissier opened #177 "Evolution"
Hi,
Thank you for you code that I discover too late for my project but the organisation was similary.

First of all, to follow the comment caracters in INI file (';' ou '#' is comment), I modyfied your code for CommentRegex in IniParserConfiguration.cs.
Old code:
`protected const string _strCommentRegex = @"^{0}(.*)";`
And add both possibilities for comment
`CommentString = ";";`

New code:
[code]

[2018-11-26 14:31] malmil opened #178 "Warning: 'ini-parser 2.5.2' was restored using '.NETFramework,Version=v4.6.1'"
The ini-parser works as expected, but I get this warning:

warning NU1701: Package 'ini-parser 2.5.2' was restored using '.NETFramework,Version=v4.6.1' instead of the project target framework '.NETCoreApp,Version=v2.1'. This package may not be fully compatible with your project.

Any idea how to get rid of the warning or possible errors that may occur due to this warning?

[2018-12-02 06:32] Bluscream opened #179 "Escaping = in the ini file"
I have a ini like this

[code]

How can i escape the `=` in `iUnUtUG0lCiYpjkxeUy7Df4EmSY=`?

[code]

[2018-12-03 07:11] rickyah commented on #179
You can't escape the first value of =, at least w/out touching the source code. You can, however, use the string " =" (one white space at the beginning)  as the separator between properties to parse your ini file successfully. The bad news  you need to get the latest v3.0/develop version which is in development and thus unstable, because version2 does not support using strings as separator, only a

[2019-01-04 13:31] MusashiBugs opened #180 "Preserve Leading Spaces"
I need to preserve leading spaces (not Trim) when reading (and writing) Key values.

Example:
[ELIGCVG]
RETCOND(1)=  ;55; 5;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;

Reads as ";55; 5;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;"
And I need it to read as "  ;55; 5;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;  ;"

[2019-01-10 03:09] Bluscream commented on #179
Thanks :)

[2019-01-10 03:09] #179 closed, assigned to nobody

[2019-01-15 15:19] imaginarytools opened #181 "Bool test for Sections and Keys"
While upgrading some of my clients I realized that I am trying to use some config options that aren't there yet, which of course results in a NullReferenceException . It would be great if I could do something like this:

        public static void ValidateConfig() {
            if (INIConfig["Settings"] == null) {
                INIConfig["Settings"]["Setting1"] = "Value1";
            }

[2019-02-11 13:31] lomidylog opened #183 "The INI contains n bytes with 0 value"
Hi Ricky,
I need your help.

This is the class as I use to manage file INI:
[code]

Rarely happens that the INI file has a series of bytes of 0 value (look at the attachment).
Only my desktop application (.NET 2.0) writes and reads the INI files.
Could it be the antivirus or something else in your opinion?

Thank you!
[file.zip](https://github.com/rickyah/ini-parser/files/2851203/file.zip)

[2019-02-11 23:22] rickyah commented on #181
You can check if a section or key exist with:
[code]

[2019-02-11 23:22] #181 closed, assigned to nobody

[2019-02-12 07:00] rickyah opened #184 "v3.0/develop branch was changed"
The old `v3.0/develop` branch contained a failed experiment with a new kind of parser that was ditched. As so, I've pushed forced a new history

The history in the old `v3.0/develop` branch is not deleted, it is now in a new branch called `v3.0/custom_string_iterator`, just in case some people put some work on top of that branch. It should be easy to modify your custom work to rebase it on top of

[2019-02-27 16:40] ajhalls commented on #183
This started happening to me too starting this year. I am using .NET 4.6.2 and version 2.5.2 of ini-parser.
I am not sure how to validate that valid data will be written before writing it. Here is what I am using:

[code]

Windows Defender is the only AV in use. I have multiple applications using the same INI file, but they are on 5 minute timers and shouldn't overlap, and they both write through

[2019-02-27 23:52] rickyah commented on #183
This is really weird. No exception was thrown? The code that writes to a file is straightforward: open a file, create a stream from it, and write the string of the ini file. If something happens it should throw an exception and if that exception happens after opening the file, but before writing to it, then you still should get an empty file, not one where all the data is zero.

I'm puzzled, sorry

[2019-03-01 11:15] Vitokhv opened #186 "How to specify the name of a known section?"
The contents of the config.ini file look like this:
[code]
The code below reads all sections, need to read only in the necessary known section [GUID]
[code]
How to specify the desired section in the code?
Version ini-parser 2.5.2

[2019-03-01 12:49] zetroot commented on #186
Do you mean, you wnat to read the exact section, without reading and parsing the whole INI file? It seems to me there is no such possibility.
If you need only to switch wether you need to do some stuff with the section or not - just use "if" for the inner "foreach" in your example.
Something like this
[code]

Also you can use LINQ, as `SectionDataCollection` implements `IEnumerable<T>` interface:

[2019-03-01 13:33] rickyah commented on #186
There is a simpler way

[code]

[2019-03-01 13:56] Vitokhv commented on #186
**zetroot**
Thank you for taking the time to my question, it works:
[code]
**rickyah**
Thanks for telling library features, it works:
[code]
One problem when creating a binding to the `listBox`
 had to change `key.Name` to `key.KeyName`

[2019-03-25 10:22] Al12rs commented on #110
I second this feature request. A lot of the INI files my application needs to parse will contain inline comments.
Having this in the configuration options would be incredibly helpful.

[2019-04-11 21:51] #186 closed, assigned to nobody

[2019-04-11 21:58] rickyah commented on #178
Hi @malmil, can you specify which branch were you using when this error triggered?
Version 2.5.2 should be targeting an even older .net version that 4.6, definitely not netcore

[2019-04-11 22:01] #177 closed, assigned to nobody

[2019-04-11 22:04] rickyah commented on #174
I've recently set up my environment to use dotnet core, and my intention is to target dotnet standard 2.0
This will trigger a new mayor version of the library though, expect a 3.0 version soon

[2019-05-16 12:21] Evangelink opened #187 "IniDataParser doesn't respect property NewLineStr"
Hi there,

The IniDataParser class always split the text using LF and CRLF (see https://github.com/rickyah/ini-parser/blob/development/src/IniFileParser/Parser/IniDataParser.cs#L106) which means that if we want to use some crazy value for `NewLineStr` we won't be able to read back the ini file we just created.

[2019-05-17 12:30] pulimento commented on #174
see https://github.com/rickyah/ini-parser/pull/188 (it's done 👍  )

[2019-05-17 17:22] pulimento commented on #178
This PR (#188) adds support to NetCore

[2019-05-17 17:23] pulimento commented on #145
netstandard version!! #188

[2019-05-17 17:24] pulimento commented on #122
netstandard / netcore port in #188 🎊

[2019-05-22 20:19] #174 closed, assigned to nobody

[2019-05-22 20:19] #178 closed, assigned to nobody

[2019-05-22 20:20] #122 closed

[2019-05-22 20:20] #145 closed

[2019-05-22 20:20] #183 closed, assigned to nobody

[2019-05-29 06:45] a-aznar commented on #176
Had the same issue, seems to work if you apply the configuration to the data instead:

IniData data = new IniData();
data.Configuration.AssigmentSpacer = "";

[2019-05-29 06:49] TimeMaster18 opened #189 "WriteFile not saving properly a file?"
Not sure if it's a bug or something I might be doing wrong, but using WriteFile seems to create some problems when reading the file later.

Seems to work fine if after the WriteFile from IniParser, you use File.WriteAllText.

[2019-06-03 19:54] Xinnony commented on #189
Same problem, how solve this ?

[2019-06-03 21:56] rickyah commented on #189
Hi, could you please be more specific on the  problems that you are finding?

[2019-06-03 22:24] TimeMaster18 commented on #189
Basically I followed the example over the wiki:

[code]

Result: the file is created but the program that reads it doesn't work, it crashes because of it. If I create it manually it works. If after that I use the following then it works:

`File.WriteAllText("newINIfile.ini", File.ReadAllText("newINIfile.ini"));`

Might be some formatting of the new lines or end of file, no idea.

[2019-06-05 06:10] rickyah commented on #189
I can't reproduce the bug can you provide more insight on the issue?
- Version of IniParser you are using
- OS and version
- .Net Framework used (netcore, mono, .net framework) and version

For this specific case, a diff of both files (the one written by my example program and the file you write with `File.WriteAllText`) would be handy. You can just attach both files so I can do a diff if you plea

[2019-06-05 08:00] TimeMaster18 commented on #189
I compared them with a hex editor, the only difference is the start of the file. With yours it has 3 bytes more at the very start, the rest is identical.

These are the 3 extra bytes at the start:

EF BB BF

The .ini is used by another application that isn't mine, so I can't get much more from it, error just says that the file is invalid.

EDIT: Those are indeed, the bytes you mention. Seems like

[2019-06-05 09:22] rickyah commented on #189
Yeah that’s the BOM. I’m afraid the fix for you is to save the IniData yourself using the file write methods that does NOT specify the encoding, as those methods still write the file in UTF8, but they do not write the BOM bytes.

[2019-06-14 22:47] ajhalls commented on #183
I wrote a couple functions to deal with this. It stores the info into the registry and then recovers it if it is corrupted. The first two are the important ones, the other is a custom ini parser that I use sometimes to reduce external dependencies so that when doing automatic updates I can overwrite the other parsers dll.

[code]

[2019-07-10 12:19] jbennink opened #190 "Feature request: Dirty property to detect changes since loading the ini file"
### Feature request
A property "Dirty" to signal that changes have been made to the loaded ini settings. This property could be used to optimize the Save/WriteFile methods but is also very useful to detect whether my program has to refresh things.
### Background
In my case I am using ini parser to configure an external program (softphone) with specific extension and account settings and need to kn

[2019-07-10 12:23] jbennink commented on #189
I know this is closed but I ran into this same issue where the ini file was UTF8 and after changing it with ini-parser it ended up UTF8-BOM. My external program did not like the extra bytes added. I followed the "solution above" with the extra read/write which solved it.
I also tried giving  it a fixed Encoding.UTF8 thrid paramater but that still saved it as UTF8 BOM. I then tried Encoding.ASCII w

[2019-07-10 20:16] Xinnony commented on #189
Same for me, the problem is encoding, is fixed now.

[2019-08-10 15:27] alip1949 opened #191 "write values into file INI"
I have an ini file with the section:
[QB]
Key = PO0119

To update the value of key using the following code snippet:
{
    ParserData = new IniData ();
    FileIniData = new FileIniDataParser ();
    ParserData (stAppName) (stKey) = stVal;
    FileIniData. WriteFile (stFileIni, ParserData);
}
where:
     stAppName = &quot; [QB] &quot;
     stKey = &quot; Key &quot;
     stVal = &quot; PO0120
After

[2019-08-15 09:21] rickyah commented on #191
Unless I did understood you badly, you actually have a duplicate section in your file called QB:

[2019-08-15 09:27] rickyah commented on #191
I think the error is you have a duplicate section when what you wanted to to is to change the value of key from PO0119 to PO0120, right? However, the code snippet seems wrong; this line:
`ParserData (stAppName) (stKey) = stVal;` shouldn't compile
Did you mean?
`ParserData[stAppName][stKey] = stVal;`

If the line abobe is your real code, everything should work, so probably FileIniData is appending

[2019-08-16 09:13] alip1949 commented on #191
Tanks
i'm sorry, The Code:
         ParserData. Sections (&quot; QB &quot;). Item (&quot; KEY &quot;) = stVal
         FileIniData. WriteFile (stFileIni, ParserData)
It's the same as writing:
ParserData [&quot; QB &quot;] [&quot; KEY &quot;] = stVal
In reading, the statement:
ParserData (stAppName) (stKey)
is correct or also all written so?:
ParserData [stAppName] [stKey]
Thank you.

[2019-08-16 09:44] alip1949 commented on #191
The Code: ParserData[stAppName][stKey] = stVal;
not compile I have the error:
Error	2	Method arguments must be enclosed in parentheses.
Why?? Thanks for all

[2019-08-16 10:17] alip1949 commented on #191
After several tests I was able to verify that the code works and replace the value is:
 ParserData. Sections ("QB"). Item (" KEY") = stVal
In reading, the statement:
ParserData (stAppName) (stKey)
Tanks for all

[2019-08-16 15:10] #191 closed, assigned to nobody

[2019-08-16 15:13] #189 closed, assigned to nobody

[2019-08-16 15:13] #184 closed, assigned to nobody

[2019-10-27 20:27] jamalmazrui commented on #76
Can someone please give me an example of how to implement case insensitive behavior when using the FileIniDataParser class?

[2019-10-27 21:04] jamalmazrui opened #192 "Request for default of empty string instead of null value"
The Windows API functions for reading ini values allow a default of an empty string to be returned if a key is not found.  I appreciate the current default of a null value rather than raising an error, but I would prefer a default of an empty string ("") instead.  Is this currently possible without deriving a custom parser class?  If not, I hope such a configuration could be added.

[2019-12-10 12:06] sumankumar opened #193 "Merge happens with undesired keys strings"
During merge of ini files , if the old file contains a key similar to the key ( ie strings starting with same substring)  in the new file.
Then after merge the old key still remains as shown in left image in attached pic.
![bugForOpenSource](https://user-images.githubusercontent.com/431614/70527933-b3be8880-1b55-11ea-8a71-c47889625159.png)

Could this be a bug in the source code
and can be fixed j

[2019-12-18 11:24] monotwist opened #194 "Feature request: merge without replacing existing values"

[2019-12-18 11:24] ichilver opened #195 "dotnet core 3.1 support"
When will this library get support for dotnet core 3.1?

I have a console app previously on .net core 2.2 but want to go to 3.1 LTS.  However I get a NU1701 error with ini-parser when trying to use 3.1.

Any ideas?

[2019-12-18 23:33] rickyah commented on #192
Will try to add a configuration option for  next version

[2019-12-18 23:36] rickyah commented on #194
I don't understand what you mean, please elaborate and I'll reopen

[2019-12-18 23:36] #194 closed, assigned to nobody

[2019-12-18 23:40] rickyah commented on #195
DotnetCore 3.1 was released literally last week. I do not have the bandwidth to update the library so quickly, sorry.

If you happen to start working on 3.1 compatibility, PRs are welcome and I'd be happy to help

[2019-12-18 23:53] rickyah commented on #193
Hi @sumankumar can you please put here which version of the library are you using? I can't seem to replicate this bug in version 2.5.2

[2019-12-18 23:59] rickyah commented on #76
@jamalmazrui you can set `FileIniDataParser.Parser.Configuration.CaseInsensitive  = true`  *before parsing the file* and  you should get that behaviour

However I recommend to not use FileIniDataParser, just read the file yourself and parse it so you can configure the parser the way you want

[2020-01-01 17:41] RayCarrot opened #196 "Feature request: support keys without values"
The .ini file Ubisoft uses for their early Windows applications has a section which looks like this:
[code]
This section has keys, but without any values or equal signs. In the latest version of the parser it doesn't handle these. If I set it to skip invalid lines they won't be written to the file upon saving. As of now I have to copy and insert them manually each them I edit the file using the pa

[2020-01-02 00:35] SteeveGL commented on #195
I'm using the library with .net core 3.1 and I did not notice any errors on my side.

[2020-01-02 13:02] ichilver commented on #195
Hi

The error occurs for me when trying to "publish" a .net core 3.1 self contained application for linux-arm cpu.

[2020-01-05 18:30] TokcDK opened #197 "IniParser.Exceptions.ParsingException exception when ini contains two ini values with [UTILITY]"
Getting exceptions when ini contains something like this:
[code]

Some ini cantains file/folder path in value and in file/folder name can cantain `[UTILITY]` in name but ini-parser returns parse error when trying to read the ini with `IniData INI = new FileIniDataParser().ReadFile(Path)`

[code]

[2020-01-07 22:27] #155 closed, assigned to rickyah

[2020-01-07 22:37] #193 closed, assigned to rickyah

[2020-01-07 22:41] rickyah commented on #196
I've implemented the feature, but I'm closing this issue as this is duplicated from https://github.com/rickyah/ini-parser/issues/196

It will be available in version 2.6.0, but you can access it right now from branch: https://github.com/rickyah/ini-parser/tree/release/2.6.0

[2020-01-07 22:41] #196 closed, assigned to nobody

[2020-01-07 22:41] rickyah commented on #196
I've implemented the feature, @RayCarrot
It will be available in the upcoming version 2.6.0, but you can access it right now from branch: https://github.com/rickyah/ini-parser/tree/release/2.6.0

[2020-01-07 22:42] rickyah commented on #192
This will be the default behaviour for version 3.0, but will add a configuration option in the upcoming vresion 2.6.0 for this

[2020-01-07 22:58] rickyah commented on #197
@TokcDK, I can't seem to be able to reproduce your problem.

Maybe is something that has to do with the file encoding?
Are you using windows or linux/mac?

You can probably workaround the issue by not using `FileInidataParser` just read manually the file and parse it with `IniDataParser`

[2020-01-08 07:32] TokcDK commented on #197
The error was while reading ModOrganizer.ini from Mod Organizer 2 where was added custom executables paths with [text] in folder name. Tests was on Win7. First time I just fixed it by edit 2.5.3 sources lineprocessing for section with somethings like `if (!line.TrimStart().StartsWith("[")) return false` and it fixed the error . But with 2.5.3 also sometimes was other problems when ini was just ful

[2020-01-12 16:50] njtaz76 commented on #118
Hi, I was wondering if this was going to be implemented? I did not see this in any examples recently and it is exactly the functionality I was hoping to find.  Thank you!

[2020-01-12 19:31] rickyah commented on #118
Hi @njtaz76, this feature will be available in the next release, or now if you are willing to compile the project yourself:

Please see this issue with more information:
https://github.com/rickyah/ini-parser/issues/196

[2020-01-12 20:22] njtaz76 commented on #118
Thank you

Sent from my iPhone

[2020-01-22 18:47] michalss opened #198 "UTF8 Endoding does not work"
Hi,

I have a huge issue, i was trying to use your parser for localization purpose, but it does not work for UTF8 cahracters.

[2020-01-22 18:48] #198 closed, assigned to nobody

[2020-01-22 18:48] michalss commented on #198
sorry im and idiot, i forget to chech for ReadFile.. :(

[2020-01-22 20:47] rickyah commented on #198
Don't beat yourself @michalss: this is something that has bitten many people before you, so I'm the one to blame: is not a good design from my part. Glad you found a solution!

[2020-01-23 00:41] monty124 commented on #155
I can confirm I am seeing this behaviour too, comments on any line with any comment character causes a parsing error
{"Unknown file format. Couldn't parse the line: 'file.ini'. while parsing line number 0 with value '' - IniParser version: 2.5.2.0 while parsing line number 1 with value 'file.ini' - IniParser version: 2.5.2.0"}
tried both FileIniDataParser and IniDataParser
only thing that works is

[2020-01-27 15:01] W1nstar opened #199 "NewLineStr only in KeyValue pairs, not for sections."
Is it possible to achieve this?

I need to respect a file format where the section has no leading spaces, while the key-value pairs have 4 leading spaces.

[code]

I've tried to override the iniDataParser class, but it seems there isn't any method there that could help me. No other overridable class seem to help here.

Is it possible at all?

[2020-02-11 12:12] xantari commented on #134
What’s status on this? There appears to be support in the development branch for some of this, but nuget has not been updated since 2017.

[2020-02-16 09:03] rickyah commented on #195
@ichilver as a workaround can you get along with adding the library source code directly to your project?

[2020-02-16 09:04] #197 closed, assigned to rickyah

[2020-02-21 14:09] jark-b90 opened #201 "Support for multiline values"
Hello,

Is there any chance to have support for multiline values in some future versions?

[section1]
key1 = "this key is
on multiple rows"

[2020-02-21 14:11] jark-b90 opened #202 "Support for values starting with spaces"
Hello,

Is there any chance to have support for values starting with spaces in some future versions?

[section1]
key1 = "       value"

[2020-02-22 20:01] mlukac89 opened #203 "Opening big ini files doesn't read all lines"
I have ini file that is 16 mb, when i use var iniData = Parser.ReadFile(Filename); function it reads me only 11701685 characters and file have 16629991 characters.

Example of writing to file
[code]
after ini file is written it have 12 mb instead of 16 mb.

Is there any limit to `Parser.ReadFile(Filename)` function ?

Example ini file that i am using  [ini file.zip](https://github.com/rickyah/ini-

[2020-02-26 02:29] Zorono opened #204 "Possibility to create INI files with my defaults incase it doesn't exists"
Hello everybody, so it 'd be great if you help me to create INI files with my programmatically chosen defaults incase it doesn't exists....

i tried..
checking whether the file exists or not using `Files.Exists` and if not parse my `INI Data` string but i failed to use `StreamWrite` for such... (actually, i can't get the way to do it...)

[2020-02-26 11:23] cdmaxy opened #205 "no spaces between equal sign"
Hello,

how can i remove the spaces before and after the equal sign
I need it in this form:
[code]

not

[code]

[2020-02-26 20:47] #204 closed, assigned to nobody

[2020-03-05 02:54] AkioSarkiz commented on #201
It's a good idea...

[2020-03-05 05:23] naughtyGitCat commented on #195
using vs for mac, when adding package it warns this:

[code]

[2020-03-05 05:25] naughtyGitCat commented on #195
And using nuget it show this
[code]

which is the new version? 2.5.2 or 3.4.0?

[2020-03-05 07:35] naughtyGitCat opened #207 "Redis conf parse failed"
[code]
turns:
[code]
the raw.String is below:

[code]

[2020-03-05 07:53] naughtyGitCat commented on #207
fixed with
[code]
but the
[code]
how to parse? the `parser.Configuration.AllowDuplicateKeys = true` only leaves one `save`

[2020-03-05 07:57] naughtyGitCat commented on #207
and unable to use System.Text.Json to serialize
[code]

[2020-03-05 08:04] naughtyGitCat commented on #207
serialize problem fixed with
[code]
hope there is a ToJson Method, or `__json__` magic method

[2020-03-07 23:07] Zorono opened #208 "AllowKeysWithoutSection is fully ignored..."
AllowKeysWithoutSection is fully ignored...
reference: https://github.com/rickyah/ini-parser/blob/development/src/IniParser/Model/Section.cs#L27-28

example code:
[code]

Example INI File:
[code]

i just need to fetch the value of a key which isn't linked to any section...
Expected value: `50`
but it always results in the Runtime error `section name can not be empty`...

[2020-03-21 12:00] sandrock opened #209 "Too many namespaces? (using lines)"
I don't understand why there are so many namespaces for so few classes.

I am using version 2.3.0 and many of my files include (almost) all of these namespaces:

- `IniParser`
- `IniParser.Model`
- `IniParser.Model.Configuration`
- `IniParser.Model.Formatting`
- `IniParser.Parser`
- `IniParser.Exceptions`

I see that recent commits tend to reduce the number of namespaces and that is great.

Is the

[2020-04-10 00:39] vermiceli commented on #208
Hi Zorono,
A few things to clear up.  It seems you are trying to read from an INI, but the code you shared shows you creating an INI file.  Regardless, I can help you here.

1.  To access a key from an INI file without a section, you need to use the `.Global` property.  This goes for both reading and writing.  You cannot simply pass an empty string to the headers like you are doing in your example

[2020-04-10 00:49] vermiceli commented on #205
Hi @cdmaxy,
When creating a IniParser, simply pass a `IniParserConfiguration` that includes the `AssigmentSpacer` configuration.

`FileIniDataParser INIParser = new FileIniDataParser(new IniDataParser(new IniParserConfiguration() { AssigmentSpacer = string.Empty }));`

Now when you write the INI data, it'll not include any spaces between the equals sign and the key and value.

The parser configura

[2020-04-10 01:03] vermiceli commented on #203
The difference isn't caused by any limits with `Parser.ReadFile(Filename)`.  The difference comes from the fact that INIParser doesn't write out duplicate keys.  In your input .ini file, there are many duplicate keys in each section.  In the saved output, those duplicates are removed.

Look at the attached screenshot.  Your input file is on the left and the output is on the right.  You can see tha

[2020-04-10 01:10] vermiceli commented on #202
This is already supported.  You can do
`iniData["section1"]["key1"] = "\" value\"";`

[2020-04-10 06:41] mlukac89 commented on #203
Isn't settings **AllowDuplicateKeys, AllowDuplicateSections, AllowKeysWithoutSection**  are here  that will ignore and allow that ? Since in .ini file i provided i am not allowed to delete or add any key or sections, just to replace values under given section on key 1.

For example i need to find those sections and replace under those sections key 1 value with dot (.)
[code]

[2020-04-10 12:57] vermiceli commented on #203
Hi @mlukac89, unfortunately, this library does not support writing out duplicate keys.
`AllowDuplicateKeys` is a setting that allows reading INI files with duplicate keys.  If you set `AllowDuplicateKeys` to false, you'd get an error

If you look at the [Configuring parser behavior](https://github.com/rickyah/ini-parser/wiki/Configuring-parser-behavior) page, you can see another property `Override

[2020-04-10 14:56] Zorono commented on #208
Thanks a lot for explaining and correcting my stupid issues.... <3

[2020-04-10 14:56] #208 closed, assigned to nobody

[2020-04-11 02:13] vermiceli commented on #176
Can you share your code? I am unable to reproduce this.  This is the code I tested with
[code]

[2020-04-11 22:03] rickyah commented on #209
I'm trying to reduce the amount of namespaces, true, but I probably won't reduce it to one namespace either.
There is no reason for the high amount of namespaces other than myself trying to use the "match namespaces with physical layout" guideline that I do not really need to follow anymore.

[2020-04-11 22:04] #205 closed, assigned to nobody

[2020-05-04 14:51] DevMyReport opened #213 "Encoding Problem"
[Datarun.zip](https://github.com/rickyah/ini-parser/files/4575341/Datarun.zip)

Hello,
When I use ini-parser on a .ini file containing "Démo" in value of a section, it returns me to "?" instead of the normally expected "é"

file (in attachment):
[Section]
value=Démo

Can i specify the encoding mode ?
Than

ks for you help

[2020-05-06 05:56] warnat commented on #213
The function **ReadFile** can take a second parameter for encoding.
I tried your file with "iso-8859-1", which is western europe like this:

`IniData data = parser.ReadFile("Datarun.ini", Encoding.GetEncoding(28591));`

That gives back the right characters.
You could encode your ini-files as UTF-8 as well and use **Encoding.UTF8**.

[2020-05-19 15:15] fireflycons opened #214 "Won't resolve on .net core on Linux"
Hi

Looks to me like the nuget package is incorrectly packaged.

Files are in `lib\net20` which implies .NET Framework 2.0 and will be ignored by .net core on Linux
They should be in `lib\netstandard2.0`

[2020-05-28 18:45] chasewallis opened #215 "Duplicate Sections"
I have to read an ini file in this format:
[code]

Attempting to parse with AllowDuplicateSections and AllowDuplicateKeys just merges the information into 1 section. I didn't see any other option that would allow both sections to exist. Looking into the code, the sections are stored in a dictionary with the section name as the key. I'm not seeing a way to easily make this happen.

Is this enhancem

[2020-06-05 15:16] JerseyTechGuy commented on #201
Yep, very interested in this.  We have some legacy INIs that older systems could handle the multi-line value.  Now were having issues because we can't parse them with this new library. Other than this, the library is awesome!

[2020-06-11 09:21] EgoPingvina opened #216 "Exceptions documentation"
Can you add an [exception tag](https://docs.microsoft.com/ru-ru/dotnet/csharp/programming-guide/xmldoc/exception) for all classes and methods, please? It is very important for developing of unbreakable code.

[2020-06-14 23:12] shaggygi opened #217 "© gets rewritten as ?"
Seems like the copyright system © gets changed to '?' when using `WriteFile` method.

I noticed this when trying to set a value to a specific attribute and other attributes that have © are getting changed to ?.

[code]

[2020-06-17 13:27] KulaGGin opened #218 "Duplicated key exception in Engine.ini(UE4)"
Engine.ini:
[code]
When I try to parse this with:
[code]
I get the exception `Duplicated key 'Paths' found in section 'Core.System while parsing line number 0 with value '' - IniParser version: 2.5.2.0"} | System.Exception {IniParser.Exceptions.ParsingException}`:
![devenv_e3cn7Rk18Y](https://user-images.githubusercontent.com/16989713/84903893-56346700-b0b7-11ea-8e13-5f34d4b6740a.png)

[2020-07-01 18:38] dechowdev commented on #218
Have you tried the DuplicateKeys option within the configuration of the library?

https://github.com/rickyah/ini-parser/wiki/Configuring-parser-behavior

[2020-07-07 08:18] KulaGGin commented on #218
Thanks, I'll try it out. I went through the documentation before creating this issue but missed it.

[2020-07-07 08:18] #218 closed, assigned to nobody

[2020-07-12 20:33] sami-soft opened #219 "The problem of creating extra space"
There is a problem with saving if the contents of the file we are reading are as follows :

[Identification]
NOM=1234
PRENOM=12

when editing and saving  , it puts an empty space in the file before and after equal :

[Identification]
NOM = 1234
PRENOM = 12

How to remove this space? To output the same as the first file?

[2020-09-17 20:01] whasf opened #220 "Can't get or set comments"
Maybe I'm missing something, but I only see a "ClearAllComments" function, not a way to set or get one?

[2020-09-29 07:18] Willy-Kimura opened #221 "Opening ini files on Windows Startup"
Hi,

First, great library. There however seems to be an issue with reading ini files when an application is set to launch on Windows Startup. It automatically opens the ini file using the default ini-reading application, e.g. Notepad.

[2020-09-29 07:43] Willy-Kimura commented on #221
Seen the issue, it seems external and does not involve the library.

Will close this for now.

[2020-09-29 07:43] #221 closed, assigned to nobody

[2020-09-29 08:46] Willy-Kimura commented on #217
Seems like you'll need to specify the type of encoding:

[code]

[2020-09-29 22:19] shaggygi commented on #217
I figured it out, but forgot to close out.  It turns out the files I'm working with is not supported by .NET Core (as it is a specific Windows encoding).  The files are supposed to be updated to UTF-8 in the near future, so I can use with .NET Standard/Core at that time.  Closing issues.

[2020-09-29 22:19] #217 closed, assigned to nobody

[2020-10-06 06:32] Mateo2197 commented on #219
Download the source code and include it in your project. Then go to IniFileParser\Model\Configuration\IniParserConfiguration.cs open it in vs and edit AssigmentSpacer = " "; to AssigmentSpacer = "";

[2020-11-09 12:17] stany9g commented on #176
I was able to reproduce it.
`var data = new IniData();
data["main"]["test"] = "1";
var config = new IniParserConfiguration {AssigmentSpacer = ""};
var parser = new IniDataParser(config);
var fileParser = new FileIniDataParser(parser);
fileParser.WriteFile(Path.Combine(path, name + ".ini"), data);`

setting in on the IniData configuration fixed it.

[2020-11-11 19:55] inakuhn commented on #146
Hello guys,
Is there a plan when it will be possible to write duplicates in different lines?

[2020-11-30 10:53] nepsy opened #222 "Encoding problem. GetEncoding(28591)"
I am reading a file with codepage 28591

`IniData data = parserSave.ReadFile(lbUrls.SelectedItem.ToString(), Encoding.GetEncoding(28591));`

When reading, I get the values close to the original, but still different. I can't find the encoding I want.
[code]
 UFT-8 also doesn't work

[2020-12-09 06:51] naughtyGitCat opened #223 "Give key values in form of IEnumerable<KeyValuePair>,hold all duplicate key values"
### WANT

want to keep all values,  not only the last one of duplicate key

[2020-12-23 14:51] thiagoaxll commented on #219
You can configure it when loading your .INI file.
`var parser = new FileIniDataParser();`
`IniData  configData = parser.ReadFile(path);`
` configData.Configuration.AssigmentSpacer = "";`

[2021-01-13 09:43] avidenic commented on #195
May I suggest that the target for the build that is published on nuget is .net standard (2.0) instead of .net 4.x?

[2021-02-07 10:38] TheSnyper commented on #180
I got around this problem by creating a simple Wrap/Unwrap function ...

private string Wrap(string input) {
	return @"""" + input + @""""; // enclose string in " to preserve spaces
}

private string Unwrap(string input) {
	return input.Substring(1, input.Length - 2); // trim leading and trailing " to preserve spaces
}

Then to save I just use something like --> data["01"]["Regex"] = Wrap(txtRegex

[2021-03-03 20:20] Bluscream opened #224 "Parse ini file with no sections"
[code]

[2021-03-03 22:05] Bluscream opened #225 "Serialize Class to IniData"
How do i (de)-serialize a C# class to IniData?

Something similar to https://json2csharp.com/

[code]

[2021-03-03 22:07] #224 closed, assigned to nobody

[2021-03-17 13:10] ClonkAndre opened #226 "Will there ever be dotnet core support?"

[2021-03-30 02:05] fraganator opened #227 "Documented defaults don't match actual defaults (AllowCreateSectionsOnFly)"
The defaults for IniParserConfiguration listed in the [Configuring Parser Behavior](https://github.com/rickyah/ini-parser/wiki/Configuring-parser-behavior) wiki page, and the defaults documented in the code don't match the actual defaults in [IniParserConfiguration.cs](https://github.com/rickyah/ini-parser/blob/c4dbf0eed984b0d57841bd6288040a2d5250e66e/src/IniFileParser/Model/Configuration/IniParse

[2021-04-07 18:59] freduard opened #228 "Is there a way to convert a string to something that ini-parser understands?"
Isn't exactly an issue or a bug, I was just wondering if I could convert a string variable to iniParser so I can write the contents of that string variable to my ini file. I'm making a very basic C# console auto updater that simply downloads a raw github string using WebClient and then compares it to my current local .ini file. I need to convert that downloaded string into something that ini-parse

[2021-04-09 20:29] kneduzhiy commented on #219
The configuration does not work!
Neither in the parser nor in the data.

[2021-04-09 20:34] kneduzhiy opened #229 "obsolete"

[2021-04-09 20:42] #229 closed, assigned to nobody

[2021-04-09 22:03] #228 closed, assigned to nobody

[2021-04-15 06:45] JakobFerdinand opened #231 "Is this still acitve?"
Is this project still acitve?
I can see new issues and contributions but there is no new release since 2017?
Releasing the `netstandard` version of the library would be an important improvement.

[2021-05-06 05:45] SrMilton commented on #201
Anyone know how to do this in C#? I have to change a ini file which the value is

and i'm breaking my head trying to do this

[2021-06-08 14:00] theKBro commented on #231
+1
a new version would be great!

[2021-07-12 09:04] theKBro commented on #231
@rickyah ?

[2021-08-26 11:19] yuusakuri commented on #223
I want it too. For example, `php.ini` allows duplicate keys.

[2021-09-06 13:47] mikasoukhov opened #232 "Invalid NuGet package"
A target framework is not specified in nuspec. VS does not understand it is compatible with non-FW projects (like core or standard).

[2021-09-16 09:20] Lumary2 commented on #115
Hi I found a regex that works for C#: parser.Configuration.CommentRegex = new Regex(@"(#|;)(.*)");

[2021-09-21 10:26] yuusakuri commented on #215
I have created a .NET library that solves this problem. I'm glad if you use it.

https://github.com/yuusakuri/Ini

[2021-09-21 10:27] yuusakuri commented on #223
I have created a .NET library that solves this problem. I'm glad if you use it.

https://github.com/yuusakuri/Ini

[2021-09-24 08:34] WinThuLatt opened #233 "Whitespace getting trimmed from value"
[sectioname]
prop1=
prop2=

For the example above, with the version installed 2.5.2, it trims the 5 white spaces of prop1 and 1 whitespace of prop2.
I am not able to find this TrimProperties bool when trying to set it from IniParserConfiguration.
https://github.com/rickyah/ini-parser/blob/d300241a75bec4dcabc0751c8690f3b12b3eaf43/src/IniParser/Configuration/IniParserConfiguration.cs

Sample code fr

[2021-10-01 01:55] DevD4v3 commented on #231
It seems that the author of this library is not active. I have made a [PR](https://github.com/rickyah/ini-parser/pull/234) for them to add support for .NET Standard 2.1.

At the moment I have published the package on [NuGet](https://www.nuget.org/packages/ini-parser-netstandard2.1).

[2021-10-01 02:03] MrDave1999 commented on #226
We have to wait for the author to publish a new version but in the meantime I have published in [NuGet](https://www.nuget.org/packages/ini-parser-netstandard2.1) a version of ini-parser with support for **.NET Standard 2.1**, so it would be compatible with **.NET Core 3.x**.

[2021-10-01 20:55] DevD4v3 commented on #232
What is the problem itself? I do not understand.

[2021-10-01 21:01] DevD4v3 commented on #195
@avidenic Yes, the problem is that **.NET Standard 2.0** is not compatible with **.NET Core 3.x**. This library should have support for **.NET Standard 2.1** to be compatible with **.NET Core 3.x**.

[2021-10-02 07:19] mikasoukhov commented on #232
See dependencies of your package https://www.nuget.org/packages/ini-parser-netstandard2.1 and the same tab of original. No dependencies mostly means wrong. Like in that case.

Anyway the project is dead, and I stopped using it at all.

[2021-10-02 20:46] DevD4v3 commented on #232
ini-parser has no dependencies, that's why it comes out "no dependencies". The original [ini-parser package](https://www.nuget.org/packages/ini-parser/2.5.2) is only compatible with **.NET Framework 2.0**.

Moreover, someone added only **.NET Standard 2.0** support and published it here: https://www.nuget.org/packages/ini-parser-netstandard/ but what I did is to create a new package with [.NET Sta

[2021-10-03 06:52] mikasoukhov commented on #232
You did wrong. Standard 2.0 make's compatibility with Standard 2.1.

Problem in nuspec. This better contact guys with NuGet team then will explain it better.

[2021-10-03 16:48] MrDave1999 commented on #232
Standard 2.1 adds new functions to the API that are not in Standard 2.0... That is, Standard 2.0 is not compatible with Standard 2.1. For example, .NET Standard 2.0 is not compatible with .NET Core 3.x.

Here is a list of the platforms that support [Standard 2.0](https://github.com/dotnet/standard/blob/master/docs/versions/netstandard2.0.md#platform-support) and [Standard 2.1](https://github.com/d

[2021-10-03 17:19] DevD4v3 commented on #232
Yes, the original package: https://www.nuget.org/packages/ini-parser/2.5.2 does not include the target framework in the .nuspec file. Although the .nuspec only serves to provide information to consumers, so this should not cause problems when installing the package. Please note that this package is old and only has support for .NET Framework 2.0.

Please try using my package and let me know if you

[2021-10-04 15:26] #232 closed, assigned to nobody

[2021-10-24 15:11] ShockWave2048 opened #235 "How Can i save edited runtime IniData?"
Hi rickyah!
How Can i save edited runtime IniData?
`IniData data = p.Parse(File.ReadAllText("Config.ini"));
data.Sections["GLOBAL_CONFIG"]["CAM_POSITION"] = "0.0";
// save data ?`
Thanks for answer!

[2021-10-27 21:24] hymccord commented on #195
@MrDave1999

.NET Standard 2.0 _is_ compatible with .NET Core 3.x.
Microsoft actually recommends targeting .NETStandard 2.0 to for libraries to have the most compatibility between NETFX, .NETCore, and .NET5/6.

[2021-11-03 15:27] dennys commented on #231
@MrDave1999 , I upgrade to use ini-parser-netcore3.1, but it seems not support FileIniDataParser.WriteFile().
Is there any solution to write configuration to file?

[2021-11-08 03:23] DevD4v3 commented on #231
@dennys Install this package: https://www.nuget.org/packages/ini-parser-netstandard/2.5.2

[2021-11-08 03:26] DevD4v3 commented on #235
Check this out: https://github.com/rickyah/ini-parser/wiki/First-Steps#saving-the-file

[2021-11-08 03:30] DevD4v3 commented on #195
@InKahootz Sorry, you're right. I had read somewhere that it was not compatible. That's the problem in not reading the official source: https://dotnet.microsoft.com/platform/dotnet-standard.

[2021-11-08 12:34] dennys commented on #231
It works, thanks.

[2021-11-09 13:47] avidenic commented on #195
Targeting .NET Standard 2.0 would solve both. It really depends which API's are they using internally. (I have not gone over the code).

[2021-11-13 16:51] briansilvers commented on #231
So the version 3.0 of this code that I downloaded seems to have fixed the parsing problems that I was experiencing. I pulled down the code and built it and installed the nuget package on my project. is someone taking over this repo and has anybody reached out to @rickyah to see if we can help with it?

[2021-11-18 21:36] k3ndo opened #236 "API Documentation"
Post the API Documentation here: https://k3ndo.github.io/ini-parser/api/

[2021-11-20 15:57] DevD4v3 commented on #231
@briansilvers It seems that @rickyah lost interest in this project. We can continue this project as a fork.

[2021-11-20 23:13] rickyah opened #237 "An update on the state of the project"
Hi everyone.

First of all I want to apologize for the lack of updates.
Long story sort: due to a combination of too much work, dealing with the pandemic, and personally shifting priorities in my life to focus on my family, I lacked the time and mental energy to continue the development on this project.

I'm changing jobs and letting myself some time to rest until next year, which gave me the oppo

[2021-11-20 23:16] rickyah commented on #231
@MrDave1999 a fork may not be necessary. Please take a look to what I wrote here: https://github.com/rickyah/ini-parser/issues/237

Also, if you would like to reopen the PR I would gladly merge it. In any case, thanks a lot for spending your time fixing the problems

[2021-11-21 16:38] briansilvers commented on #237
I'm interested in being a maintainer. I find this library useful.

[2021-11-29 06:40] MikeAinOz commented on #237
I'm using it. I could be a tester!

[2021-12-01 21:28] VidovicSinisa opened #238 "ConcatenateDuplicateKeys"
Hi! I am trying to get the ini-parser to read duplicate keys in a section and concatenate them together:

[SectionName]
MyKey=Hello
MyKey=World

I have done this through configuration by saying:

_parser = new FileIniDataParser();
_parser.Parser.Configuration.AllowDuplicateKeys = true;
_parser.Parser.Configuration.ConcatenateDuplicateKeys = true;

This doesn't seem to be working for me so I am jus

[2021-12-01 22:46] VidovicSinisa commented on #238
Nvm, just noticed this:

![image](https://user-images.githubusercontent.com/44882326/144326455-69ebc3bf-cc2c-43a1-881c-29d3fe6fd926.png)

Probably a compatibility issue.

[2021-12-01 22:47] #238 closed, assigned to nobody

[2021-12-05 15:37] DevD4v3 commented on #201
@SrMilton Were you able to do it? If so, it would be interesting to see your solution.

[2021-12-05 16:23] SrMilton commented on #201
@MrDave1999 No. I was using a technique with read all lines, changing what i need and write all lines back. It's a really bad way to do this but i have no other idea.

[2021-12-18 23:09] martin-braun opened #239 "Support .NET 5.0"
Would love to see this project updated to support .NET 5.0.

[2021-12-19 14:50] martin-braun commented on #146
I think it would be really helpful to ensure that the write operation can produce the same that was read before. It would also be helpful to be able to define the `ConcatenateSeparator`.

[2021-12-22 19:54] snargledorf commented on #239
Or better yet, .NET 6.0 since that is the new LTS release.

Edit: The only thing I will say for the current setup which is .NET Standard 2.0 is for backwards compatibility with older versions of .NET (See the [.NET Standard versions table](https://dotnet.microsoft.com/en-us/platform/dotnet-standard#versions))

[2021-12-23 16:53] DevD4v3 commented on #239
Install this package: https://www.nuget.org/packages/ini-parser-netstandard/

[2022-01-12 18:16] AHSauge commented on #201
So I did something very, very hacky... but maybe this will be useful for others.

So my problem is that I'm parsing a .pylintrc file. The attached implementation is a one-way conversion from multiline values to singleline values. This is utilising the fact that the multiline values in this format, are in fact an array of comma separated values where the last non-whitespace character conveniently i

[2022-03-02 18:08] WFDexter commented on #219
Glad there's a way around it but it would be nice if the default were for the library to maintain whatever it found in the file. I just lost 2 days to figuring out that I was essentially "corrupting" an INI file that is read by a space-intolerant tool.

Is there any comprehensive documentation of properties and so forth?

[2022-04-19 10:40] allegion-ddreher opened #240 "Latest Package 3.4.0 contains DLL with product version 2.4.0 and File version 2.4.0.0"
The latest Nuget package is labeled as version 3.4.0, but contains a INIFileParser.dll file with product version 2.4.0. and file version 2.4.0.0.
This doesn't match version and Nuget package. This leeds to problems with software auditing tools (e.g. by BlackDuck) because these tools recognize the DLL as outdated. Is it possible to deliver INIFileParser.dll in Nuget package with the same version
![

[2022-05-10 22:19] bandman0226 commented on #240
This is causing an issue for me as well. Is there a way to get this updated?

[2022-05-13 16:31] DevD4v3 commented on #240
Which package are you installing? Have you tried this package: https://www.nuget.org/packages/ini-parser-netstandard2.1/?

[2022-06-09 11:47] Captain-FLAM commented on #235
For the needs of my project, I will post soon a solution there :

[PERFECT Wall](https://github.com/Captain-FLAM/PERFECTwall)

Stay tuned !

[2022-08-02 17:29] Mrzhengsix commented on #152
#2022.8.3
To MMWPF
Guys,I think maybe we can use this to fix your problem.
fileIniData.Parser.Configuration.CommentRegex = new Regex(@";[\s\S]*$");
The only regret is that the comment is above the key,but i think that would be okay than the problem.

[2022-08-29 01:27] lonix1 opened #241 "[Feature Request] Comments for global section"
Please consider allowing comments at the top of the file, for the "global" section.

Often such files have instructions / notes / etc. at the top of the file, e.g.:
[code]

So:
[code]

[2022-10-09 13:41] demndevel opened #242 "file scoped namespaces"
would be very good if you added file scoped namespaces

[2022-11-08 05:08] Paderman opened #243 "How ignoring special characters like hash # at reading or common?"
How is it possible to ignore hash or other special characters at the beginning or common?

I have a non standard ini file that begins with a special character like # for comments, but with this character, I get an error message, without, it works.

**Error message:**
`IniParser.Exceptions.ParsingException: 'Unknown file format. Couldn't parse the line: '#'. while parsing line number 0 with value '

[2022-11-08 13:58] jacobussystems commented on #243
Well, you can use '#' for comments, e.g.

[code]
(That setting defaults to ';', by the way.)

Hope that helps,
Jim

[2022-11-12 08:33] sonitanay opened #244 "Usage in MAUI Projects"
Can i use this in a MAUI project

[2022-11-18 20:41] stamler commented on #215
@chasewallis This is exactly what I'm trying to do, for wireguard configs. Unfortunately same issue. I think I'll just build my own serializer.